.about-us-title{
    margin-top: 76px;
    text-align: center;
}
.about-us-img-title{
    display:inline-block;
    width: 72%;
}
.about-us-img-title img{
    max-width: 100%;
}
.about-us-img-title:before{
    content: '';
    position: absolute;
    bottom: -17px;
    left: 50px;
    height: 128px;
    width: 273px;
    background: url('../images/trienlamhanhphuc/title-left.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.about-us-img-title:after{
    content: '';
    position: absolute;
    bottom: -15px;
    right: 36px;
    height: 122px;
    width: 264px;
    background: url('../images/trienlamhanhphuc/title-right.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.no-padding{
    padding:0px !important;
}
.about-us-post{
    position: relative;
}
.img-container-fluid{
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: -1;
}
.cont-container h1{
    font-family: 'Gilroy-Bold1';
    font-weight:bold;
    font-size: 30px;
    color:#dc5ca1;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.cont-container h1:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 19px;
    width: 100px;
    height: 100px;
    background: url('../images/vechungtoi/bg-title-aboutus.png') no-repeat;
    background-size:contain;
}
.cont-container p{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 17px;
    color: #585858;
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
}
.cont-container p:before{
    content: '';
    position: absolute;
    width: 11px;
    height: 22px;
    background: url('../images/vechungtoi/arrow-list.png') no-repeat;
    background-size: contain;
    top: -3px;
    left: 26px;
}
/*.about-us .about-us-post:last-child{*/
    /*margin-top: 20px;*/
/*}*/
/*.about-us .about-us-post:last-child h1{*/
    /*margin-top: 160px;*/
/*}*/
.about-us .about-us-post:nth-of-type(4){
    margin-top: 20px;
}
.about-us .about-us-post:nth-of-type(4) h1{
    margin-top: 160px;
}
.viral-clip{
    margin-top: 160px;
}
.viral-clip-title{
    text-align:center;
}
.viral-clip-title h5{
    font-family: 'Gilroy-Bold1';
    font-size: 30px;
    color:#dc5ca1;
    display:inline-block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}
.viral-clip-title h5:before{
    content: '';
    position: absolute;
    bottom: -26px;
    left: -105px;
    height: 92px;
    width: 207px;
    background: url(../images/trienlamhanhphuc/title-left.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.viral-clip-title h5:after{
    content: '';
    position: absolute;
    bottom: -25px;
    right: -109px;
    height: 90px;
    width: 202px;
    background: url(../images/trienlamhanhphuc/title-right.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.viral-clip .join-btn {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
}

.viral-clip .join-btn:hover {
    filter: grayscale(50%);
}

.viral-clip .join-btn a {
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url(../images/trienlamhanhphuc/bg-btn.png) no-repeat;
    background-size: 100% 100%;
    padding: 11px 7px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.viral-clip .join-btn a:before {
    content: '';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url(../images/trienlamhanhphuc/link-bottom.png) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.viral-clip .join-btn a span {
    padding: 9px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
}
.home-video__icon img{
    width: auto;
}
.home-text__1{
    display: inline-block;
    vertical-align: top;
    font-family: 'Gilroy-Bold1';
    color: #fff;
}
.home-text__1 h2{
    font-size: 52px;
    text-shadow: 4px 4px 11px rgba(0,0,0,.6);
    margin-top: 0px;
    margin-bottom:0px;
}
.home-text__1 p{
    font-size: 13px;
    text-shadow: 4px 4px 11px rgba(0,0,0,.6);
}
.home-video__icon__3 img{
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0px, 20px);
        opacity: 0;
    }
}
.mt-10{
    margin-top: 10px;
}
@media screen and (max-width: 1500px){

    .about-us .about-us-post:nth-of-type(4){
        margin-top:0px;
    }
    .about-us .about-us-post:nth-of-type(4) h1{
        margin-top: 120px;
    }
    .viral-clip{
        margin-top:120px;
    }
}
@media screen and (max-width: 1300px){
    .about-us .about-us-post:nth-of-type(4) h1 {
        margin-top: 45px;
    }
    .viral-clip{
        margin-top:45px;
    }
    .about-us .about-us-post:nth-of-type(2) .img-container-fluid{
        top: 30px;
    }
}
@media screen and (max-width: 1200px){
    .about-us-img-title:before {
        bottom: -36px;
        left: 50px;
        width: 228px;
    }
    .about-us-img-title:after {
        bottom: -35px;
        right: 36px;
        width: 225px;
    }
    /*.viral-clip .container--config{*/
        /*width: 100%;*/
        /*margin-left: 55px !important;*/
    /*}*/
    .viral-clip .home-video__icon__1{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .viral-clip .home-video__icon__1 img {
        width: 270px;
    }
    .viral-clip .mt-10{
        margin-top:0px;
    }
    .viral-clip .mt-10 img{
        width: 70px;
    }
    .viral-clip .home-text__1 h2 {
        font-size: 33px;
    }
    .viral-clip .home-video__icon__3 img{
        width: 70px;
    }
    .viral-clip .home-video__icon__1, .viral-clip .mt-10, .viral-clip .home-video__icon__2, .viral-clip .home-video__icon__3{
        margin-left: 70px;
    }
}
@media screen and (max-width: 992px){
    .cont-container h1{
        font-size: 23px;
    }
    .cont-container p{
        font-size: 14px;
    }
    .about-us .about-us-post:nth-of-type(4) h1{
        margin-top:0px;
    }
    .viral-clip{
        margin-top:0px;
    }
    .about-us-img-title:before {
        bottom: -58px;
        left: 32px;
        width: 186px;
    }
    .about-us-img-title:after {
        bottom: -51px;
        width: 195px;
    }
    .viral-clip-title h5{
        font-size: 23px;
    }
    .viral-clip .join-btn a {
        font-size: 19px;
    }
    .viral-clip .home-video__icon__1 img {
        width: 187px;
    }
    .viral-clip .mt-10 img {
        width: 55px;
    }
    .viral-clip .home-text__1 h2 {
        font-size: 26px;
    }
    .viral-clip .home-video__icon__2 img{
        width: 40px;
    }
    .viral-clip .home-video__icon__3 img {
        width: 55px;
    }

}
@media screen and (max-width: 768px){
    .viral-clip .home-video__play {
        position: absolute;
        top: 56px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        z-index: 1;
        width: 150px;
        height: 150px;
        text-align: center;
    }
    .viral-clip .home-video__play img{
        width: 80px;
    }

}
@media screen and (max-width: 767px){
    .img-container-fluid{
        position: relative;
    }
    .about-us-img-title:before {
        bottom: -81px;
        left: 24px;
        width: 136px;
    }
    .about-us-img-title:after {
        bottom: -68px;
        width: 156px;
        right:8px;
    }
    .viral-clip-title h5 {
        font-size: 20px;
    }
    .viral-clip-title h5:before {
        bottom: -49px;
        left: -74px;
        height: 92px;
        width: 157px;
    }
    .viral-clip-title h5:after {
        bottom: -34px;
        right: -64px;
        height: 73px;
        width: 143px;
    }
    .viral-clip .join-btn a:before {
        bottom: -13px;
        width: 96px;
    }
}
@media screen and (max-width: 480px){
    .cont-container h1 {
        font-size: 18px;
        padding-left: 25px;
        padding-top: 25px;
    }
    .cont-container h1:before {
        top: 2px;
        left: 2px;
        width: 70px;
        height: 70px;
    }
    .cont-container p{
        padding-left: 25px;
    }
    .cont-container p:before {
        width: 8px;
        height: 16px;
        top: 2px;
        left: 8px;
    }
    .about-us-img-title{
        width: 80%;
    }
    .about-us-img-title:before {
        bottom: -97px;
        left: 0px;
        width: 106px;
    }
    .about-us-img-title:after {
        bottom: -91px;
        width: 106px;
        right: 8px;
    }
    .viral-clip-title h5{
        font-size: 18px;
    }
    .viral-clip-title h5:before {
        bottom: -59px;
        left: -47px;
        height: 92px;
        width: 124px;
    }
    .viral-clip-title h5:after {
        bottom: -47px;
        right: -33px;
        height: 73px;
        width: 113px;
    }
    .viral-clip .join-btn a {
        font-size: 13px;
    }
    .viral-clip .join-btn a span {
        padding: 6px 20px;
        border-radius: 4px;
    }
}
@media screen and (max-width: 320px){
    .viral-clip-title h5 {
        font-size: 16px;
    }
    .viral-clip-title h5:before {
        bottom: -35px;
        left: -30px;
        height: 59px;
        width: 98px;
    }
    .viral-clip-title h5:after {
        bottom: -52px;
        right: -27px;
        height: 73px;
        width: 90px;
    }
    .viral-clip-title h5 {
        margin-bottom: 26px;
    }
    .viral-clip .join-btn {
        margin-top: 20px;
    }
}
