.top-img-banner{
    position: relative;
}
/*.top-img-banner:before{*/
    /*content:"";*/
    /*position: absolute;*/
    /*left:0px;*/
    /*right:0px;*/
    /*top:0px;*/
    /*bottom:0px;*/
    /*background: url('../images/baiduthi/FRAME COVER.png') no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
.frame{
    position: absolute;
    top:0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
.avatar-box{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow:hidden;
    position: relative;
}
.border-img{
    position: relative;
    display: inline-block;
}
.border-img:before{
    content: "";
    position: absolute;
    top: -8px;
    bottom: -18px;
    left: -17px;
    right: -16px;
    background: url(../images/baiduthi/border-avar.png) no-repeat;
    background-size: cover;
    z-index: -1;
}
.border-img:after{
    content: '';
    position: absolute;
    bottom: -85px;
    left: -112px;
    width: 250px;
    height: 227px;
    background: url(../images/baiduthi/hoa_lavender.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.avatar-box img{
    width: 100%;
}
.bdt-chi-tiet{
    margin-top:30px;
}
.bdt-chi-tiet-section1{
    margin-bottom: 40px;
}
.quote-of-user h5{
    font-size: 25px;
    font-weight: bold;
    color: #dc5ca1;
    font-family: 'Gilroy-Bold1';
    text-transform: uppercase;
    text-align: center;
}
.quote-cnt p{
    font-size: 20px;
    color: #646464;
    font-family: 'Gilroy-Medium1';
}
.quote-cnt{
    padding: 50px;
    position: relative;
}
.quote-cnt:before{
    content:"";
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: url('../images/baiduthi/border-text.png') no-repeat;
    background-size: 100% 100%;
}
.quote-cnt:after{
    content: "";
    position: absolute;
    width: 56px;
    height: 37px;
    top: -8px;
    left: 50%;
    background: url(../images/baiduthi/quote-icon.png) no-repeat;
    background-size: contain;
    transform: translateX(-50%);
}
.quote-of-user{
    margin-bottom: 24px;
    margin-top: 20px;
}
.like-bdt-btn a, .share-bdt-btn a, .vote-bdt-btn a{
    background: linear-gradient(#aa427a, #9a326a);
    display: inline-block;
    height: 46px;
    width: 118px;
    line-height: 46px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 3px;
    font-family: 'Gilroy-Bold1';
    font-weight: bold;
    font-size: 21px;
    color: #fff;
}
.like-bdt-btn a img{
    width: 34px;
}
.like-bdt-btn a img, .share-bdt-btn a img, .vote-bdt-btn a img{
    margin-right: 3px;
}
.bdt-like-share-vote{
    margin-top: 30px;
}
.cnt-left h5{
    font-size: 25px;
    font-weight: bold;
    color: #dc5ca1;
    font-family: 'Gilroy-Bold1';
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    margin-top: 15px;
}
.cnt-left h5:before{
    content: '';
    position: absolute;
    top: -38px;
    left: -20px;
    width: 100px;
    height: 100px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
.cnt-left h5:after{
    content: '';
    position: absolute;
    top: -32px;
    right: 12px;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url(../images/baiduthi/lavender-title.png) no-repeat;
    background-size: contain;
}
.cnt-left p{
    font-size: 18px;
    color: #646464;
    font-family: 'Gilroy-Medium1';
    margin-bottom: 25px;
}
.cnt-right img{
    margin-bottom: 25px;
}
.voted-number .voted, .like-number .like, .share-number .share{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#dc5ca1;
}
.like-number .like{
    background-color: #d390d0;
}
.share-number .share{
    background-color: #9a63b8;
}
.bdt-chi-tiet-section2{
    position: relative;
}
.bdt-chi-tiet-section2 .like-share-voted-number{
    position: absolute;
    top: 0px;
    left: -150px;
}
.voted-number a .voted, .like-number a .like, .share-number a .share {
    color: #fff;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Gilroy-Bold1';
    text-align: center;
}
.voted-number a p, .like-number a p, .share-number a p{
    font-size: 21px;
    font-family: 'Gilroy-Bold1';
    color: #575757;
    text-align: center;
}
.voted-number, .like-number, .share-number{
    margin-bottom: 10px;
}
.bdt-other{
    position: relative;
}
.bdt-other:before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: linear-gradient(rgba(245,245,245,.8), rgba(0,0,0,0));
}
.others-title{
    text-align: center;
    margin-top: 45px;
}
.title-container{
    display: inline-block;
    width: 50%;
    position: relative;
    margin-bottom: 45px;
}
.title-container img{
    width: 100%;
}
.title-container:before{
    content: '';
    position: absolute;
    bottom: -31px;
    left: -124px;
    width: 263px;
    height: 85px;
    background: url(../images/baiduthi/left-flower.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.title-container:after{
    content: '';
    position: absolute;
    bottom: -22px;
    right: -124px;
    width: 263px;
    height: 85px;
    background: url(../images/baiduthi/right-flower.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.pagination-container{
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.pagination-container .pagination{
    margin-top: 0px;
    margin-right: 0px;
}
.findall{
    float: right;
    font-family: 'Gilroy-Regular1';
    font-size: 18px;
    color: #fff;
    background: url('../images/baiduthi/bg-find-all.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    padding: 7px 25px;
    position: absolute;
    right:0px;
}
.findall:hover{
    color: #fff;
}
.findall:before{
    content:'';
    position: absolute;
    top: 4px;
    right: 4px;
    left: 4px;
    bottom: 4px;
    border: 1px solid #efdcee;
    border-radius: 4px;
}
.pagination>li>a, .pagination>li>span{
    border: none;
    font-family: 'Gilroy-Bold1';
    font-weight: bold;
    font-size: 20px;
    color: #666666;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #666666;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #dbdbdb;
    color: #666666;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color:#666666;
}
.prev-part a:hover, .next-part a:hover{
    background: transparent !important;
}
.cnt-right{
    margin-top: 15px;
}
.like-share-vote-nb{
    display:none;
}
.mt-10{
    margin-top: 10px;
}
.cnt-bdt .box-two:nth-child(3n+1){
    clear: both;
}
@media screen and (max-width: 1500px){
    .bdt-chi-tiet-section2 .like-share-voted-number {
        left: -105px;
    }
}
@media screen and (max-width: 1400px){
    .bdt-chi-tiet-section2 .like-share-voted-number{
        position: relative;
        left: 0px;
    }
    .voted-number, .like-number, .share-number{
        display: inline-block;
        margin-right: 30px;
    }
    .voted-number a p, .like-number a p, .share-number a p{
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1200px){
    .avatar-box {
        width: 200px;
        height: 200px;
    }
    .border-img{
        margin-left: 20px;
    }
    .quote-cnt {
        padding: 35px;
    }
}
@media screen and (max-width: 991px){
    .avatar-box {
        width: 180px;
        height: 180px;
    }
    .quote-of-user h5{
        font-size: 22px;
    }
    .quote-cnt p {
        font-size: 16px;
    }
    .like-bdt-btn a img, .share-bdt-btn a img, .vote-bdt-btn a img{
        width: 20px;
    }
    .like-bdt-btn a, .share-bdt-btn a, .vote-bdt-btn a {
        font-size: 18px;
        height: 40px;
        width: 98px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .quote-cnt:after {
        width: 43px;
        height: 27px;
    }
    .cnt-left h5{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .cnt-left h5:before {
        top: -27px;
        width: 80px;
        height: 80px;
    }
    .cnt-left h5:after {
        top: -17px;
        right: -49px;
        width: 165px;
        height: 72px;
    }
    .voted-number .voted, .like-number .like, .share-number .share {
        width: 65px;
        height: 65px;
    }
    .voted-number a .voted, .like-number a .like, .share-number a .share {
        line-height: 66px;
        font-size: 17px;
    }
    .voted-number a p, .like-number a p, .share-number a p {
        font-size: 18px;
    }
    .cnt-left p {
        font-size: 15px;
    }
    .title-container:before {
        bottom: -18px;
        left: -78px;
        width: 169px;
        height: 49px;
    }
    .title-container:after {
        bottom: -28px;
        right: -75px;
        width: 147px;
        height: 63px;
    }
}
@media screen and (max-width: 767px){
    .avatar-box {
        width: 150px;
        height: 150px;
    }
    .quote-of-user h5 {
        font-size: 17px;
    }
    .quote-cnt {
        padding: 18px;
    }
    .quote-cnt:after {
        width: 30px;
        height: 18px;
        top: -4px;
    }
    .quote-of-user {
        margin-bottom: 14px;
    }
    .like-bdt-btn, .share-bdt-btn, .vote-bdt-btn{
        display:inline-block;
        margin-right: 10px;
    }
    .like-bdt-btn a, .share-bdt-btn a, .vote-bdt-btn a {
        font-size: 14px;
        height: 34px;
        width: 76px;
        line-height: 34px;
        margin-bottom: 0px;
    }
    .like-bdt-btn a img, .share-bdt-btn a img, .vote-bdt-btn a img {
        width: 15px;
    }
    .bdt-like-share-vote {
        margin-top: 21px;
        display: flex;
        flex-wrap: nowrap;
    }
    .like-share-vote-nb{
        display:block;
        font-size: 17px;
        font-family: 'Gilroy-Bold1';
        color: #575757;
        margin-top: 7px;
    }
    .cnt-left h5:after {
        right: 52px;
    }
    .like-share-voted-number{
        display: none;
    }
    .cnt-left p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .pagination>li>a, .pagination>li>span {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
    .findall{
        font-size: 12px;
    }
    .next-part img, .prev-part img{
        width: 10px;
    }
    .pagination-container {
         margin-top: 0px;
         margin-bottom: 0px;
    }
    .cnt-bdt .box-two:nth-child(3n+1){
        clear: none;
    }
}
@media screen and (max-width: 480px){
    .avatar-box {
        width: 90px;
        height: 90px;
    }
    .border-img:before {
        top: -8px;
        bottom: -13px;
        left: -12px;
        right: -16px;
    }
    .border-img:after {
        bottom: -50px;
        left: -75px;
        width: 176px;
        height: 140px;
    }
    .quote-cnt p {
        font-size: 13px;
    }
    .like-bdt-btn a, .share-bdt-btn a, .vote-bdt-btn a {
        font-size: 9px;
        height: 26px;
        width: 49px;
        line-height: 26px;
        padding-left: 7px;
    }
    .like-bdt-btn a img, .share-bdt-btn a img, .vote-bdt-btn a img {
        width: 12px;
        margin-right: 0px;
    }
    .like-share-vote-nb {
        font-size: 14px;
    }
    .bdt-chi-tiet-section1{
        margin-bottom: 0px;
    }
    .cnt-left h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .cnt-left h5:before {
        top: -25px;
        width: 65px;
        height: 65px;
        left: -12px;
    }
    .cnt-left h5:after {
        top: -9px;
        right: 4px;
        width: 123px;
        height: 52px;
    }
    .title-container {
        width: 65%;
    }
    .title-container:before {
        bottom: -23px;
        left: -56px;
        width: 122px;
        height: 47px;
    }
    .title-container:after {
        bottom: -14px;
        right: -54px;
        width: 117px;
        height: 37px;
    }
    .pagination>li>a, .pagination>li>span {
        font-size: 12px;
        width: 25px;
        height: 25px;
        padding: 5px 10px;
    }
    .next-part img, .prev-part img {
        width: 7px;
    }
    .findall{
        padding: 7px 11px;
    }
    .bdt-other:before{
        height: 3px;
    }
}
@media screen and (max-width: 320px){
    .cnt-left h5 {
        font-size: 16px;
    }
    .cnt-left h5:after {
        top: -7px;
        right: -11px;
        width: 107px;
        height: 52px;
    }
    .findall {
        padding: 4px 3px;
    }
    .findall:before {
        top: 2px;
        right: 1px;
        left: 1px;
        bottom: 2px;
    }
}