#bdt{
   margin-top: 5%;
}
.baiduthi-container{
    text-align: center;
    margin-top: 55px;
    position: relative;
}
.baiduthi-container h5{
    text-align: left;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:26px;
    margin:0px;
    font-weight:bold;
}
.baiduthi-container .join-btn a{
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url('../images/baiduthi/bg-btn.png') no-repeat;
    background-size: 100% 100%;
    padding: 15px 7px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.baiduthi-container .join-btn a:before{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url('../images/baiduthi/link-bottom.png' ) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.baiduthi-container .join-btn a span{
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.baiduthi-container .join-btn{
    margin-top: 34px;
    margin-bottom: 40px;
    text-align: center;
}
.bdt-like-share{
    display: inline-block;
    position: relative;
    /* margin-left: 33%; */
    /* text-align: center;
    width: 53%; */
}
.baiduthi-container .bdt-like-share a {
    background-color: #ac447c;
    padding: 11px;
    margin-right: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.baiduthi-container .bdt-like-share a>img{
    width:8%;
}
.bg-left{
    position: absolute;
    width: 40%;
    left: 0;
    top: 26%;
    height: 40%;
}
.bg-top-right{
    position: absolute;
    width: 20%;
    right: 11%;
    top: -6%;
    height: 20%;
    margin: auto;
}
.bg-bottom-right{
    position: absolute;
    width: 40%;
    right: 5%;
    top: 48%;
    margin: auto;
}

.baiduthi-box{
    background-color:#fdf2f8;
}
.bg-pink{
    background-color:#fdf2f8;
    padding-bottom: 10%;
    margin-bottom: 10%;
    position: relative;
}
.clear{
    clear:both;
}
.no-padding{
    padding: 0px !important;
}
.bdt-bg{
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
.baiduthi-img-box{
    position: relative;
    z-index: 2;
}
.baiduthi-img-box:after{
    content:'';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-color: #000;
    z-index:-1;
    border-radius: 4px;
    background-image: linear-gradient( #dd61a4, #fdf2f8, #dc5da1);
    box-shadow: 5px 5px 5px #e5d1e2;
}
.post-lg .baiduthi-img-box{
    margin-bottom: 20px;
}
.baiduthi-ctn-box h5 a{
    font-size: 20px;
    font-weight: bold;
    color: #dc5ca1;
    font-family: 'Gilroy-Bold1';
    text-transform: uppercase;
}
.baiduthi-ctn-box p{
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Gilroy-Medium1';
    color:#a974bd;
    
}
.baiduthi-ctn-box{
    margin-top: 7%;
}
.like-number, .share-number, .voted-number{
    margin-top: 7px;
    margin-bottom: 7px;
}
.like-number a, .share-number a, .voted-number a{
    font-size: 17px;
    color: #575757;
    font-family: 'Gilroy-Bold1';
}
.like-number a img, .share-number a img, .voted-number a img{
    margin-bottom: 7px;
}
.baiduthi-ctn-box a{
    text-decoration: none;
}
.padding-15{
    padding-left: 15px !important;
}
.post-sm .like-number,.post-sm .share-number,.post-sm .voted-number{
    display: inline-block;
    margin-right: 20px;
}
@media screen and (max-width: 1500px){
    
}

@media screen and (max-width: 1200px){
    .baiduthi-container h5{
        font-size: 22px;
    }
    .baiduthi-container .join-btn a span {
        padding: 9px 20px;
        border-radius: 5px;
    }
    .baiduthi-container .join-btn a{
        font-size: 24px;
    }
    .baiduthi-container .join-btn {
        margin-top: 20px;
    }
    .baiduthi-container .join-btn a{
        padding: 14px 7px;
    }
    .baiduthi-ctn-box h5 a{
        font-size: 17px;
    }
    .bg-top-right {
        position: absolute;
        width: 20%;
        right: 7%;
        top: -5%;
        height: 20%;
        margin: 0;
    }
    .bg-bottom-right {
        position: absolute;
        width: 40%;
        left: 58%;
        top: 52%;
        margin: 0;
    }
    .bg-left {
        position: absolute;
        width: 40%;
        left: -3%;
        top: 33%;
        margin: 0;
    }
    .baiduthi-container .bdt-like-share a>img{
        width:8%;
    }
}
@media screen and (max-width: 992px){
    /* #bdt{
       
        margin-top: 5%;
    } */
    .baiduthi-button .join-btn a{
        font-size: 23px;

    }
    .bdt-like-share {
        display: inline-block;
        position: relative;
        /* margin-left: 2%;
        text-align: center;
        width: 100%; */
    }
    .baiduthi-button .bdt-like-share a {
        padding: 14px;
        margin-right: 19px;
        color: #fff;
        font-size: 22px;
    }
    .bg-left {
        position: absolute;
        width: 40%;
        left: -2%;
        top: 30%;
        margin: auto;
    }
    .bg-top-right {
        position: absolute;
        width: 20%;
        right: 7%;
        top: -6%;
        margin: 0;
    }
    .bg-bottom-right {
        position: absolute;
        width: 40%;
        left: 58%;
        top: 53%;
    }
    .bdt-like-share a img {
        margin-bottom: 7px;
        width:5%;
    }
}
@media screen and (max-width: 768px){
    .baiduthi-button .join-btn a{
        font-size: 23px;

    }
    .bdt-like-share {
        display: inline-block;
        position: relative;
    }
    .baiduthi-container .bdt-like-share a {
        
        padding: 10px;
        margin-right: 12px;
        font-size: 14px;
    }
    .bg-top-right {
        position: absolute;
        width: 20%;
        right: 8%;
        top: -4%;
    }
    .bg-left {
        position: absolute;
        width: 40%;
        left: -2%;
        top: 28%;
    }
    .bg-bottom-right {
        position: absolute;
        width: 40%;
        left: 57%;
        top: 52%;
    }
    .bdt-like-share a img {
        margin-bottom: 7px;
        width:5%;
    }
    .baiduthi-container .join-btn a {
        font-size: 20px;
        padding: 12px 5px;
    }
    .post-sm .like-share-checked{
        position: absolute;
        bottom: 0px;
    }
    .post-sm .like-number,.post-sm .share-number,.post-sm .checked-number{
        display: inline-block;
        margin-right: 20px;
    }
}
@media screen and (max-width: 767px){
    /* #bdt {
        margin-top: 12%;
    } */
    .baiduthi-button .join-btn a{
        font-size: 23px;

    }
    .bdt-like-share {
        display: inline-block;
        position: relative;
        /* margin-left: 2%;
        text-align: center;
        width: 100%; */
    }
    .baiduthi-button .bdt-like-share a {
        padding: 14px;
        margin-right: 19px;
        color: #fff;
        font-size: 22px;
    }
    .bg-top-right {
        position: absolute;
        width: 15%;
        right: 3%;
        top: -4%;
    }
    .bg-left {
        position: absolute;
        width: 33%;
        left: -6%;
        top: 44%;
    }
    .bg-bottom-right {
        position: absolute;
        width: 33%;
        left: 67%;
        top: 62%;
    }
    .bdt-like-share a img {
        margin-bottom: 7px;
        width:5%;
    }
}
@media screen and (max-width: 480px){
   
    .baiduthi-button .join-btn a{
        font-size: 12px;

    }
    .bdt-like-share {
        display: inline-block;
        position: relative;
    }
    .baiduthi-container .bdt-like-share a {
        padding: 10px;
        margin-right: 12px;
        font-size: 10px;
    }
    .bg-left {
        position: absolute;
        width: 40%;
        left: -8%;
        top: 33%;
    }
    .bg-top-right {
        position: absolute;
        right: 2%;
        top: -5%;
    }
    .bg-bottom-right {
        position: absolute;
        width: 33%;
        left: 66%;
        top: 57%;
    }
    .bdt-like-share a img {
        margin-bottom: 7px;
        width:8%;
    }
    .baiduthi-container .join-btn a {
        font-size: 12px;
        padding: 12px 5px;
    }
}
@media screen and (max-width: 320px){
    #bdt{
        /* width: 90%; */
    }
    .baiduthi-button .join-btn a{
        font-size: 10px;

    }
    .bdt-like-share {
        display: inline-block;
        position: relative;
        /* margin-left: 2%;
        text-align: center;
        width: 100%; */
    }
    .baiduthi-button .bdt-like-share a {
        padding: 9px;
        margin-right: 10px;
        color: #fff;
        font-size: 12px;
        
    }
    .bg-left {
        position: absolute;
        width: 40%;
        left: -7%;
        top: 28%;
    }
    .bg-top-right {
        position: absolute;
        width: 24%;
        right: 2%;
        top: -3%;
    }
    .bg-bottom-right {
        position: absolute;
        width: 40%;
        left: 59%;
        top: 53%;
    }
    .bdt-like-share a img {
        margin-bottom: 7px;
        width:8%;
    }
    .baiduthi-container .join-btn a {
        font-size: 10px;
        padding: 12px 5px;
    }
    .baiduthi-container .bdt-like-share a {
        padding: 7px;
        margin-right: 6px;
        font-size: 10px;
    }
    .baiduthi-ctn-box h5 a {
        font-size: 12px;
    }
    .baiduthi-ctn-box p {
        text-align: left;
        font-size: 12px;
        
    }
    .like-number a, .share-number a, .voted-number a {
        font-size: 12px;
       
    }
}
    
    