@font-face {
    font-family: 'Gilroy-Bold1';
    src:  url('../font/Gilroy-Bold1.otf');
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src:  url('../font/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: 'Gilroy-Light1';
    src:  url('../font/Gilroy-Light1.otf');
}
@font-face {
    font-family: 'Gilroy-Medium1';
    src:  url('../font/Gilroy-Medium1.otf');
}
@font-face {
    font-family: 'Gilroy-Regular1';
    src:  url('../font/Gilroy-Regular1.otf');
}
@font-face {
    font-family: 'Honey Cream';
    src:  url('../font/Honey Cream.ttf');
}
*{
    margin:0px;
    padding:0px;
}

body {
    background-image: url("./../img_home/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.break-ip6 {
    display: none;
}

.hover-vote:hover {
    filter: grayscale(50%);
}

.header {
    background-repeat: no-repeat;
    background-image: url(./../img_home/img49.png), url(./../img_home/header-left.png), url(./../img_home/header-right1.png), url(./../img_home/header-bg-right.png);
    background-position: bottom left, top left,bottom right, bottom right;
    background-size: auto 100%, auto 100%, auto 100%, 10%;
    background-color: #f6f1f8; }

.header li {
    list-style-type: none; }
.header__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px; }
.header__menu a {
    font-weight:bold;
    font-family: Gilroy-Medium1;
    font-size: 1.8rem;
    color: #a974bd; }
.header__menu a:hover {
    color: #dc5ca1; }
.header__menu__li {
    list-style-type: none;
    text-align: center;
    position: relative; }
.header__menu__li .active {
    position: absolute;
    height: 160px;
    width: 160px;
    top: 0;
    bottom: 0;
    right: 50%;
    margin: auto;
    background-image: url(./../img_home/bg_nav.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(50%);
}
.header__menu__li.act{
    color: #dc5ca1;
}
.header__menu__li.active a {
    color: #dc5ca1; }

.hidden-pc {
    display: none;
}
.bg-menu-act {
    width: 100%;
    height:100%;
    position:fixed;
    background-color: black;
    opacity:0.6;
    top:0;
    left:0;
    display:none;
    z-index: 1000;
}
.footer-ctn{
    width: 100%;
    position: relative;
    background-color: #f5f0f7;
    position: relative;
}

.footer-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: 3;
}
.footer-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    z-index: 3;
}

.panel-menu {
    background: #fff;
    z-index: 9999;
    position: fixed;
    left: -15.625em;
    width: 15.625em;
    background-color: rgb(246, 235, 251);
}
.content_six_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./../img_home/bg-ft.png);
    background-size: 100% 100%;
    padding-top:20px;
    padding-bottom: 20px;
 }
    .content_six_logo img {
    width: 100%;
     }
     .panel-menu {
        background: #fdfbfb;
        z-index: 9999;
        position: fixed;
        left: -15.625em;
        width: 15.625em;
    }

.home-box-one__img__more--10 {
    background-image: url(./../img_home/img14.png);
    font-family: Gilroy-Bold1;
    text-transform: uppercase;
    float: right;
}

.btn-botton-config {
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 9999;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
}
.logout{
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}
.li-logo img{
    width: 300px;
}
.content_six_logo p{
    font-size: 16px;
    font-family: 'Gilroy-Medium1';
    color: #ed0c7d;
    text-align: right;
    padding-right: 10px;
}
.logout{
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}
.cnt-bdt .box-two:nth-child(3n+1){
    clear: both;
}
@media screen and (max-width: 1400px){
    .li-logo img{
        width: 220px;
    }
}
@media screen and (max-width: 1200px){
    .header__menu__li .active {
        height: 130px;
        width: 130px;
    }
}
@media only screen and (max-width: 767px){
    .break-ip6 {
        display: block !important;
    }
    .btn-botton-config {
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
        padding: 1rem 1rem !important;
    }

    .show-mb {
        display: block !important;
    }

    .hidden-mb {
        display: none;
    }

    .header__menu {
        justify-content: center;
    }

    .header__menu .li-logo {
        width: 40%;
    }

    .header__menu li:not(.header__menu__li) img{
        width: 100%;
    }

    .menu-mobile .btt-mobile {
        position: absolute;
        width: 5rem;
        top: 2.5rem;
        right: 1.5rem;
    }

    .mb-header-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .mb-header-icon-facebook {
        left: 15px;
        width: 3rem;
    }

    .mb-header-icon-youtube {
        left: calc(3rem + 30px);
        width: 5rem;
    }

    .mb-login {
        text-align: center;
        background-color: #a974bd;
        padding: 15px;
        margin-bottom: 25px;
        color: #fff;
        font-size: 20px;
        line-height: 25px;
    }

    a.mb-logout {
        margin-top: 15px;
        font-family: Gilroy-Medium1;
        color: #fff !important;
        font-size: 15px;
    }

    .mb-menu {
        padding: 15px;
    }

    .mb-menu li {
        margin-bottom: 25px;
    }

    .mb-menu li a {
        font-family: Honey Cream;
        font-size: 2rem;
        color: #a974bd;
    }

    .mb-menu li.active a{
        color: rgb(220, 92, 161);
    }
    .content_six_logo p{
        font-size: 8px;
    }
    .m-pl-0{
        margin-left: 0px !important;
    }
    .m-pr-0{
        margin-right: 0px !important;
    }
    .list-text-menu .text-menu {
        font-size: 9px !important;
        padding-left: 1.5rem !important;
    }
    .m-header-box{
        margin-top: 0px !important;
        padding-top: 20px;
        background-color: rgba(242,236,244, 0.4);
        padding-bottom: 20px;
    }
    .home-header-one__left {
        width: 74% !important;
    }
    .home-header-one__left__text {
        font-size: 1.3rem !important;
    }
    .show-mb .home-box-one__content__name {
        font-size: 17px !important;
    }
    .home-box-one__content__mother {
        line-height: 14px;
    }
    .p1{
        flex-basis: 225px;
    }
    .logo-footer1{
        width: 100% !important;
    }
    .footer-ctn{
        background: url('../img_home/bg-footer-1.jpg') no-repeat;
        background-size: 100% 100%;
    }
    .content_six_logo{
        background: none;
    }
    .cnt-bdt .box-two:nth-child(3n+1){
        clear: none;
    }
    .cnt-bdt .box-two:nth-child(2n+1){
        clear: both;
    }
}
@media only screen and (max-width: 480px){
    .p1 {
        flex-basis: 267px;
    }
}

@media screen and (max-width: 320px){
    .list-text-menu {
        align-items: self-start !important;
    }
    .list-text-menu .text-menu img {
        top: -2rem !important;
    }
    .list-text-menu .text-menu {
        font-size: 11px !important;
        padding-left: 15px !important;
    }
    /*.home-box-one__img__more--4 {*/
        /*font-size: 1.2rem !important;;*/
    /*}*/
    .home-box-one__img__more--4 {
        font-size: 8px !important;
        margin-top: 10px;
    }
    .list-text-menu .text-menu {
        font-size: 8px !important;
        padding-left: 15px !important;
        padding-top: 10px;
    }
    .home-box-one__img__more--9{
        font-size: 7px !important;
    }
    .p1 {
        flex-basis: 362px;
    }
}
