.no-padding{
    padding:0;
}
.home-header-two {
    width: 100%;
    float: left;
    word-wrap: break-word;
    padding: 3.8rem 0 1rem 0; }
    .home-header-two__left {
      /* width: 60%; */
      float: left;
      padding: 0 2rem;
      position: relative; }
      .home-header-two__left__img {
        position: relative;
        width: 88%;
        margin-top: -15px; }
      /*.home-header-two__left__imgposi {*/
        /*position: absolute;*/
        /*left: -22%;*/
        /*bottom: -8%;*/
        /*width: 45%;*/
        /*z-index: -1; }*/
        .home-header-two__left__imgposi--1 {
          bottom: -28%;
          left: -26%; }
        /*.home-header-two__left__imgposi--2 {*/
          /*bottom: -47%;*/
          /*left: -45%;*/
          /*width: 29%; }*/
      .home-header-two__left .home-hr {
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute; }
      .home-header-two__left .home-hr-child {
        width: 3px;
        height: 85%;
        background-color: #a27cb0;
        top: 0;
        bottom: 0;
        margin: auto; }
.home-box-one__img__more--8 {
    background-image: url("./../img_home/img14.png");
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem 1rem;
    font-family: Gilroy-Regular1;
    margin-top: 1rem; }
/* =================================== */

.home-header-two__right {
    /* width: 50%; */
    float: left;
    display: flex; 
}
    
.home-header-two__right__box1 {
    margin-left: 2rem; 
}
      
.home-header-two__right__box1 img {
    width: 17rem;
}
.home-header-two__right__box1 a {
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-weight:bold;
    text-transform: uppercase;
}
.home-header-two__right__box1 span a {
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:6rem;
    font-weight:bold;
    text-transform: uppercase;
}
.home-header-two__right__box2 p{
    font-size: 18pt;
    color: #dc5ca1;
    font-family: Gilroy-Medium1; 
}

.home-header-two__left {
/* width: 60%; */
float: left;
padding: 0 2rem;
position: relative;
}
.home-header-two__left .home-hr-child {
    width: 3px;
    height: 100%;
    background-color: #a27cb0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.home-header-two {
    width: 100%;
    float: left;
    word-wrap: break-word;
    padding: 3.8rem 0 4rem 0;
}
/* responsive section 3 */
#section3-mb{
    display:none;
}
#section3{
    display:block;
}
.home-header-two__right__box1-mb {
    margin-left: 2rem; 
}
      
.home-header-two__right__box1-mb img {
    width: 17rem;
}
.home-header-two__right__box1-mb a {
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-weight:bold;
    text-transform: uppercase;
}
.home-header-two__right__box1-mb span a {
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:6rem;
    font-weight:bold;
    text-transform: uppercase;
}

.sec3-left .left-number a{
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:8rem;
    font-weight:bold;
    text-transform: uppercase;
}
.sec3-left .right-text p{
    font-size: 17px;
    color: #dc5ca1;
    font-family: Gilroy-Medium1;
}
.sec3-right{
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .home-header-two__right__box2 p {
        font-size: 8pt;
        color: #dc5ca1;
        font-family: Gilroy-Medium1;
    }
}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {
    .home-header-one__right {
        width: 15%;
        margin-left: 10%;
    }
    .home-header-two__right__box1 span a {
        font-size: 5.5rem;
    }
    .home-box-one__img__more--8 {
        font-size: 14px;
    }
    .home-header-two__right__box2 {
        font-size: 13px;
    }
    .home-header-two__right__box2 p {
        font-size: 6pt;
        color: #dc5ca1;
        font-family: Gilroy-Medium1;
    }
}
@media only screen and (max-width: 767px) {
    #section3-mb{
        display:block;
    }
    #section3{
        display:none;
    } 
    .right-btn{
        background-image: url("./../img_home/img14.png");
        line-height: 1.5rem;
        padding: 1rem 1rem;
        font-family: Gilroy-Regular1;
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 480px) {
    .sec3-left .left-number a {
        font-size: 4rem;
    }
    .home-box-one__img__more--2 {
        font-size: 12px;
    }
    .sec3-left .right-text p {
        font-size: 6px;
    }
    /*.home-header-two__left__imgposi {*/
        /*left: -5%;*/
        /*bottom: -25%;*/
        /*width: 39%;*/
        /*z-index: -1;*/
    /*}*/
    .sc {
        width: 90%;
    }
}


@media only screen and (max-width: 320px) {

}