.hanhphuc-title{
    text-align: center;
    margin-top: 55px;
}
.hanhphuc-title h5{
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:26px;
    margin:0px;
    font-weight:bold;
}
.hanhphuc-title .join-btn a{
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url('../images/hanhphuccuatoila/img14.png') no-repeat;
    background-size: 100% 100%;
    padding: 15px 7px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.hanhphuc-title .join-btn a:before{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url('../images/hanhphuccuatoila/link-bottom.png' ) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.hanhphuc-title .join-btn a span{
    padding: 12px 20px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
}
.hanhphuc-title .join-btn{
    margin-top: 34px;
    margin-bottom: 40px;
}
.hanhphuc-img-title{
    display:inline-block;
    position: relative;
    width: 78%;
}
.hanhphuc-img-title:before{
    content:'';
    position: absolute;
    bottom: -65px;
    left: -133px;
    height: 140px;
    width: 315px;
    background: url('../images/hanhphuccuatoila/title-left.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.hanhphuc-img-title:after{
    content:'';
    position: absolute;
    bottom: -54px;
    right: -150px;
    height: 140px;
    width: 315px;
    background: url('../images/hanhphuccuatoila/title-right.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.hanhphuc-img-title img{
    z-index: 2;
    max-width: 100%;
}

.clear{
    clear:both;
}
.no-padding{
    padding: 0px !important;
}
/* ===========================slide frame======================= */
.slick-container{
    margin-left: -12%;
    margin-right: -12%;
}
.list-frame{
    position: relative;
    width: 100%;
    padding-top: 4%;
    cursor: pointer;
}

.item-container{
    display:inline-table;
    padding-left: 32px;
}

/* .list-frame .slick-arrow:hover{
    color: white;
    background: #95a5a6;
    border-color: #95a5a6;
} */

.list-frame .col-sm-4{
    padding: 0 25px
}
.frame-container{
    overflow: visible;
    display: inline-block;
    margin-bottom: 10%;
    padding: 0;
    width: 85%;
}

.slick-active{
    opacity:1;
}
.item-content{
    position: relative;
    text-align: center;
    width: 100%;
}
/* =================================================================================== */
.frame-slider {
    /* max-width: 1000px; */
    margin: 0 auto;
  }
  .slick-slide {
    margin: 0;
  }
  .slick-list {
    margin: 0px -5px 0px -5px;
  }
  button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 44%;
    right: -22px;
    width: 47px;
    height: 75px;
    background: url('../images/hanhphuccuatoila/right-slide-arrow.png') no-repeat;
    background-size: contain;
  }
  button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 44%;
    left: -22px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background: url('../images/hanhphuccuatoila/left-slide-arrow.png') no-repeat;
    background-size: contain;
    /* background-size: 95px; */
        background-position-x: right;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
  }
  /* Arrows */
.slick-prev,
.slick-next
{
    

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*  */
  
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
  
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
{
    visibility: hidden;
}

/* huuu */

 /* ===========hover button=============== */
 .frame-container:hover .select-button {
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 3px;
    left: 26px;
    width: 85%;
    height: 89%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .frame-container img{
    border: 1px solid #f8b6cc;
  }
  .frame-container:hover .overlay {
    display: block;
    background: rgba(218, 195, 226, .5);
    outline: 3px #a974bd solid;
  }
  .select-button {
    position: absolute;
    width: 100%;
    left:0;
    top: 40%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  .select-button a {
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    background: url('../images/hanhphuccuatoila/img14.png') no-repeat;
    background-size: 100% 100%;
    padding: 9px 25px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .slide-title{
    margin-bottom: 6%;
  }
  .slide-title h5{
    font-family: 'Gilroy-Regular1';
    font-weight: bold;
    font-size: 24px;
    color: #dc5ca1;
    padding-left: 25px;
  }
  .slide-title h5:before{
    content: '';
    position: absolute;
    top: -13px;
    left: 16px;
    width: 100px;
    height: 100px;
    background: url('../images/hanhphuccuatoila/bg2-btn.png') no-repeat;
    background-size:contain;
  }
  .slide-title h5:after{
    content: '';
    position: absolute;
    top: -52px;
    left: 48%;
    z-index: -1;
    width: 277px;
    height: 110px;
    background: url('../images/hanhphuccuatoila/title-right.png') no-repeat;
    background-size:contain;
}
.slide-title span img{
    position: absolute;
    float: left;
    width: 12%;
    top: -26px;
    right: 21%;
}
/* ====================================================================================== */
/* trienlam-list */
.trienlam-post-list{
    margin-top: 5%;
}
.trienlam-list-item{
    margin-bottom: 50px;
}
.trienlam-list-image-box{
    background-color:#447a5f;
    overflow:hidden;
    position: relative;
}

.trienlam-list-image-box img:nth-child(2){
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
}
.trienlam-list-ctn-box a{
    color:#000000;
    line-height: 10px;
    font-size:20px;
    font-family: 'Gilroy-Regular1';
    font-weight: bold;
    text-decoration: none;
}
.like-share{
    float:left;
    margin-top: 25px;
}
.like-nub, .share-nub{
    display: inline-block;
}
.like-nub{
    margin-right: 18px;
}
.like-nub a img, .share-nub a img{
    margin-right: 6px;
}

.custom-btn a{
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url('../images/hanhphuccuatoila/img14.png') no-repeat;
    background-size: 100% 100%;
    padding: 10px 7px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.custom-btn a:before{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url('../images/hanhphuccuatoila/link-bottom.png' ) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.custom-btn a span{
    padding: 7px 12px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
}
.custom-btn{
    margin-top: 34px;
    margin-bottom: 40px;
}
.last-row-btn{
    text-align: center;
    /* margin-top: 60%; */
}
/* ===========================================first section================================= */
.img-emotion{
    position: relative;
    width: 100%;
    padding-top: 4%;
    cursor: pointer;
}
/* happy moment */
.img-view-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.img-view-box:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -15px;
    right: -12px;
    bottom: -10px;
    background: url(../images/workshop/border.png) no-repeat;
    background-size: 100% 100%;
}
.overlay-view-box{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 89%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}
.img-view-box:hover .overlay {
    display: block;
    background: rgba(218, 195, 226, .5);
    outline: 3px #a974bd solid;
  }
  .chonanh {
    position: absolute;
    width: 100%;
    left:0;
    top: 40%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  .chonanh a {
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 20px;
    top: 100px;
    color: #fff;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
  }
  .chonanh a:after {
    content: '';
    position: absolute;
    top: -100px;
    left: 2px;
    right: -3px;
    bottom: -50px;
    background: url(../images/hanhphuccuatoila/cam.png) no-repeat;
    background-size: contain;
  }
  .img-view-box:hover .chonanh {
    opacity: 1;
  }
.happy-view-box{
    width: 95%;
    height: 100%;
    position: relative;
}
.happy-view-box:before {
    content: '';
    position: absolute;
    top: -37px;
    left: 2px;
    right: -3px;
    bottom: -17px;
    background: url(../images/hanhphuccuatoila/emotion-input.png) no-repeat;
    background-size: 100% 100%;
}
.happy-view-box:after{
    content: '';
    position: absolute;
    right: -91px;
    bottom: -66px;
    background: url(../images/hanhphuccuatoila/ddvspn.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}
.my-happy, .my-image{
    margin-top: 12%;
}
.bottom-img {
    position: absolute;
    z-index: 1;
    float: right;
    right: 0;
    bottom: -8%
}
.img-emotion h5{
    font-family: 'Gilroy-Regular1';
    font-weight: bold;
    font-size: 24px;
    color: #dc5ca1;
    padding-bottom: 28px;
    padding-left: 30px;
  }
  .my-happy h5:before{
    content: '';
    position: absolute;
    top: -8px;
    left: -22px;
    width: 137px;
    height: 108px;
    background: url('../images/hanhphuccuatoila/heart-bg.png') no-repeat;
    background-size:contain;
  }
  .my-image h5:before{
    content: '';
    position: absolute;
    top: -8px;
    left: -22px;
    width: 137px;
    height: 108px;
    background: url('../images/hanhphuccuatoila/cam-bg.png') no-repeat;
    background-size:contain;
  }

  #lined {
    display: block;
    /* margin: 12px; */
    width: 100%;
    font-size: 20px;
    padding: 50px 0;
    line-height: 50px;
    background-image: linear-gradient(#ccc 1px,transparent 1px);
    background-size: 100% 50px;
    border: 0;
    outline: 0;
  }
  .happy-text{
      margin: 5%;
      position: relative;
      
  }
  @media screen and (max-width: 992px){
    button.slick-next, button.slick-next:hover {
        top: 40%;
        right: -30px;
    }
    button.slick-prev, button.slick-prev:hover{
        top: 40%;
        left: -30px;
    }
    #lined {
        padding: 50px 0;
        line-height: 42px;
        background-image: linear-gradient(#dc5ca1 1px,transparent 1px);
        background-size: 100% 42px;
    }
    .happy-view-box:before {
        top: -20px;
        left: 2px;
        right: -3px;
        bottom: 6px;
    }
    .happy-view-box:after {
        right: -67px;
        bottom: -48px;
        width: 160px;
        height: 160px;
    }
    .hanhphuc-img-title:after {
        bottom: -96px;
        right: -125px;
        height: 140px;
        width: 250px;
    }
    .hanhphuc-img-title:before {
        bottom: -95px;
        left: -130px;
        height: 140px;
        width: 250px;
    }
  }
  @media screen and (max-width: 768px){
    .hanhphuc-img-title img {
        z-index: 2;
        max-width: 90%;
    }
    .hanhphuc-title h5 {
        font-size: 18px;
    }
    .hanhphuc-title .join-btn a {
        font-size: 20px;
    }
    .hanhphuc-img-title:after {
        bottom: -102px;
        right: -86px;
        height: 140px;
        width: 180px;
    }
    #lined {
        display: block;
    /* margin: 12px; */
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    line-height: 40px;
    background-image: linear-gradient(#dc5ca1 1px,transparent 1px);
    background-size: 100% 40px;
    border: 0;
    outline: 0;
    }
    .happy-view-box:before {
        top: -18px;
        left: 2px;
        right: -3px;
        bottom: -8px;
    }
    .happy-view-box:after {
        right: -63px;
        bottom: -43px;
        width: 125px;
        height: 125px;
  }
    .img-emotion h5 {
    font-size: 22px;
    }
    .slide-title h5:before {
        top: -14px;
        left: 14px;
        width: 90px;
        height: 90px;
    }
    .slide-title h5 {
        font-size: 22px;
    }
    .chonanh a:after {
        content: '';
        position: absolute;
        top: -120px;
        left: 12px;
        right: -3px;
        bottom: -50px;
        width: 80%;
    }
    .custom-btn a {
        font-size: 22px;
    }
    .hanhphuc-img-title:before {
        bottom: -100px;
        left: -93px;
        height: 140px;
        width: 180px;
    }
    button.slick-next, button.slick-next:hover {
        top: 40%;
        right: -30px;
    }
    button.slick-prev, button.slick-prev:hover{
        top: 40%;
        left: -30px;
    }
    .overlay {
        left: 18px;
    }
}
  @media screen and (max-width: 767px){
    .hanhphuc-title h5 {
        font-size: 16px;
    }
    .hanhphuc-img-title:after {
        bottom: -75px;
        right: -100px;
        height: 140px;
        width: 230px;
    }
    
  }

  @media screen and (max-width: 480px){
    .slide-title h5:after {
        content: '';
        position: absolute;
        top: -24px;
        left: 195px;
        z-index: -1;
        width: 210px;
        height: 100px;
    }
    .slide-title h5 {
        font-size: 20px;
    }
    .hanhphuc-title .join-btn a {
        font-size: 18px;
        padding: 12px 7px;
    }
    .hanhphuc-title h5 {
        font-size: 16px;
    }
    .hanhphuc-img-title:after {
        bottom: -54px;
        right: -77px;
        height: 80px;
        width: 150px;
    }
    .hanhphuc-img-title:before {
        bottom: -65px;
        left: -85px;
        height: 88px;
        width: 150px;
    }
    .custom-btn a {
        font-size: 20px;
    }
    .happy-view-box:after {
        content: '';
        position: absolute;
        right: -55px;
        bottom: -51px;
        width: 135px;
        height: 135px;
    }
    .happy-view-box:before {
        top: -29px;
        left: 2px;
        right: -3px;
        bottom: 0px;
    }
    .img-emotion h5 {
        font-size: 22px;
    }
    .my-image h5:before {
        top: -8px;
        left: -38px;
        width: 100px;
        height: 100px;
    }
    .my-happy h5:before {
        top: -8px;
        left: -37px;
        width: 100px;
        height: 100px;
    }
    .slide-title span img {
        position: absolute;
        float: left;
        width: 27%;
        top: -26px;
        right: 7%;
    }
    .my-happy, .my-image{
        margin-top: 5%;
        margin-bottom: 12%;
    }
    button.slick-next, button.slick-next:hover {
        top: 42%;
        right: -18px;
    }
    button.slick-prev, button.slick-prev:hover{
        top: 42%;
        left: -18px;
    }
  }
  @media screen and (max-width: 320px){
    .slide-title h5 {
        font-size: 14px;
    }
    .hanhphuc-title h5 {
        font-size: 12px;
    }
    .hanhphuc-img-title:after {
        bottom: -69px;
        right: -65px;
        height: 100px;
        width: 150px;
    }
    .hanhphuc-img-title:before {
        bottom: -68px;
        left: -77px;
        height: 100px;
        width: 150px;
    }
    .hanhphuc-title .join-btn a {
        font-family: 'Gilroy-Regular1';
        font-weight: normal;
        font-size: 13px;
        color: #fff;
        background: url(../images/hanhphuccuatoila/img14.png) no-repeat;
        background-size: 100% 100%;
        padding: 12px 5px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        position: relative;
    }
    .hanhphuc-title .join-btn a span {
        padding: 6px 5px;
        border: 0px solid #fff;
        border-radius: 8px;
    }
    .slide-title h5:after {
        top: -26px;
        left: 108px;
        z-index: -1;
        width: 160px;
        height: 110px;
    }
    .slide-title h5:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 20px;
        width: 50px;
        height: 50px;
    }
    .frame-container {
        width: 80%;
    }
    .overlay {
        position: absolute;
        top: 2px;
        left: 20px;
        width: 82%;
        height: 89%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }
    .select-button {
        position: absolute;
        width: 85%;
        left: 15px;
        top: 40%;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
    }
    .slide-title span img {
        position: absolute;
        float: left;
        width: 25%;
        top: -11px;
        right: 16px;
    }
    .custom-btn a {
        font-size: 12px;
    }
    .my-happy, .my-image{
        margin-top: 5%;
        margin-bottom: 12%;
    }
    .happy-view-box:after {
        content: '';
        position: absolute;
        right: -56px;
        top: 56px;
        width: 122px;
        height: 122px;
    }
    .happy-view-box {
        content: '';
        position: relative;
        margin-top: 5%;
        /* left: 10%; */
        /* height: 150px; */
       
    }
    .my-image h5:before {
        content: '';
        position: absolute;
        top: -15px;
        left: -25px;
        width: 80px;
        height: 80px;
    }
    #lined {
        display: block;
        margin: 12px;
        width: 80%;
        /* height: 50%; */
        font-size: 12px;
        padding: 0;
        line-height: 25px;
        background-image: linear-gradient(#dc5ca1 1px,transparent 1px);
        background-size: 100% 27px;
        border: 0;
        outline: 0;
    }
    .img-emotion h5 {
        font-size: 16px;
    }
    .my-happy h5:before {
        content: '';
        position: absolute;
        top: -16px;
        left: -25px;
        width: 80px;
        height: 80px;
    }
    .img-view-box {
        content: '';
        position: relative;
        margin-top: 8%;
        /* width: 400px; */
        /* height: 230px; */
    }
    .img-view-box:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -7px;
        right: -8px;
        bottom: -6px;
        background: url(../images/hanhphuccuatoila/border-frame.png) no-repeat;
        background-size: 100% 100%;
    }
    .happy-view-box:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -8px;
        right: -3px;
        bottom: -12px;
        background: url(../images/hanhphuccuatoila/emotion-input.png) no-repeat;
        background-size: 100% 100%;
    }
    .item-content {
        position: relative;
        text-align: center;
        width: 100%;
    }
    .chonanh a:after {
        content: '';
        position: absolute;
        top: -80px;
        left: 10px;
        right: -3px;
        bottom: -50px;
        width: 66%;
        background: url(../images/hanhphuccuatoila/cam.png) no-repeat;
        background-size: contain;
    }
    .chonanh {
        position: absolute;
        width: 100%;
        left: 10px;
        top: 22%;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
    }
    button.slick-next, button.slick-next:hover {
        top: 40%;
        right: -22px;
    }
    button.slick-prev, button.slick-prev:hover{
        top: 40%;
        left: -22px;
    }
  }