$color-dc5ca1: #dc5ca1;
$font-4: 1.4rem;
$font-426: 1.5rem;
$font-5: 1.8rem;
$font-9: 3.5rem;
$font-44: 1.54rem;
$font-6: 2.1rem;
$font-76: 2.6rem;
$font-8: 2.8rem;

$rem05: 0.5rem;
$rem1: 1rem;
$rem14: 1.4rem;
$rem18: 1.8rem;
$rem15: 1.5rem;
$rem16: 1.6rem;
$rem2: 2rem;
$rem25: 2.5rem;
$rem3: 3rem;
$rem35: 3.5rem;
$rem4: 4rem;
$rem45: 4.5rem;
$rem5: 5rem;
$rem55: 5.5rem;
$rem6: 6rem;
$rem65: 6.5rem;
$rem7: 7rem;
$rem75: 7.5rem;
$rem8: 8rem;
$rem9: 9rem;
$rem10: 10rem;
$rem38: 3.8rem;
$rem07: 0.7rem;
$rem08: 0.8rem;
$rem06: 0.6rem;
$rem11: 1.1rem;
$rem13: 1.3rem;
$rem160: 16rem;

$pt45: 45%;
$pt60: 60%;

.hiden {
  display: none;
}

.font-gilroy-bold{
  font-family: Gilroy-Bold1;
}
.font-gilroy-extrabold{
  font-family: Gilroy-ExtraBold;
}
.font-gilroy-light{
  font-family: Gilroy-Light1;
}
.font-gilroy-medium{
  font-family: Gilroy-Medium1;
}
.font-gilroy-regular{
  font-family: Gilroy-Regular1;
}
.font-honey-cream{
  font-family: Honey Cream;
}

$gilroy: Gilroy-Regular1;
a, a:hover, a:active, a:link {
  text-decoration: none;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

// scroll
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c4c4c4;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2;
}

.container--config {
  width: calc(5/7*100%);
}
// end scroll

.target-youtube {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 100px;
  background-color: transparent;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: #dc5ca1;
  border-radius: 8px;
  display: inline-block;
  margin-right: 5px;
}

.pl-0 {
  padding-left: 0 !important;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.content {

  &__one {
    background-repeat: no-repeat;
    background-image: url('./../img_home/img23.png'), url('./../img_home/img26.png');
    background-position: top left, top right;
    background-size: 13%, 32%, 27%, 38%;
  }

}

.home-video {
  position: relative;

  & img.player {
    width: 100%;
  }

  &__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 150px;
    height: 150px;
    text-align: center;

    &__text {
      display: none;
    }
  }

  & .container--posi {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
  }

  &__icon {
    z-index: 999;

    &__1 {
      margin-top: $rem5;
      margin-bottom: $rem2;
    }

    &__2 {
      margin-top: $rem2;
      margin-bottom: $rem4;
      & img {
        cursor: pointer;
      }
    }

    &__3 {
      & img {
      cursor: pointer;
    }
    }
  }
}

.home-box-row-one {
  padding: 0 6rem;
}

.home-box-row-two {
  padding: 0 6rem;
}

.slick-4 {
  overflow: hidden;
}

.slick-3 {
  overflow: hidden;
}

.home-header-one {
  width: 100%;
  float: left;
  word-wrap: break-word;
  padding: $rem38 0;

  &__left {
    width: 60%;
    float: left;

    &__text {
      color: $color-dc5ca1;
      font-family: Gilroy-Medium1;
      font-size: $font-426;
      margin-top: $rem07;
    }
  }

  &__right {
    width: 17%;
    margin-left: 22%;
    float: left;
  }
}

.home-box-one {
  border-radius: $rem08;
  border: 1px solid #d9d9d9;
  margin-bottom: $rem45;
  overflow: hidden;

  &:hover {
    border: 1px solid #a974bd;
  }
  &__img {
    position: relative;

    &img{
      border-radius: $rem05;
    }

    &__moreposition {
      position: absolute;
      bottom: -$rem11;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }

    &__more {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff;

      &:hover {
        filter: grayscale(50%);
      }

      &--1 {
        background-image: url('./../img_home/more.png');
        font-size: $rem14;
        line-height: $rem14;
        padding: $rem08 $rem15;
        font-family: Gilroy-Regular1;
      }

      &--2 {
        background-image: url('./../img_home/img9.png');
        font-size: $rem25;
        line-height: $rem25;
        padding: $rem18 $rem2 $rem2 $rem2;
        font-family: Gilroy-Bold1;
        text-transform: uppercase;
        margin-top: $rem05;
        margin-left: 5%;
      }

      &--3 {
        background-image: url('./../img_home/img14.png');
        font-size: $rem15;
        line-height: $rem15;
        padding: $rem1 $rem1;
        font-family: Gilroy-Bold1;
        text-transform: uppercase;
        float: right;
      }

      &--4 {
        background-image: url('./../img_home/img9.png');
        font-size: $font-76;
        line-height: $font-76;
        padding: $rem1 $rem2 $rem13 $rem2;
        font-family: $gilroy;
      }

      &--5 {
        background-image: url('./../img_home/img14.png');
        font-size: $font-5;
        line-height: $font-5;
        padding: $rem05 $rem15;
        font-family: Gilroy-Regular1;
        margin-top: $rem15;
        float: left;
      }

      &--6 {
        background-image: url('./../img_home/img14.png');
        font-size: $font-5;
        line-height: $font-5;
        padding: $rem05 $rem15;
        font-family: Gilroy-Regular1;
        float: right;
      }

      &--7 {
        background-image: url('./../img_home/img14.png');
        font-size: $rem15;
        line-height: $rem15;
        padding: $rem13 $rem2;
        font-family: Gilroy-Bold1;
      }

      &--8 {
        background-image: url('./../img_home/img14.png');
        font-size: $rem15;
        line-height: $rem15;
        padding: $rem1 $rem1;
        font-family: Gilroy-Regular1;
        margin-top: $rem5;
      }

      &--9 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
        line-height: 2.6rem;
        padding: 1rem 2rem 1rem 2rem;
        font-family: Gilroy-Regular1;
        background-image: url('./../img_home/img14.png');
        margin-bottom: 8px;
        text-align: center;
      }
    }
  }

  &__content {
    text-align: center;
    padding: $rem15 $rem15 $rem3 $rem15;

    &__name {
      text-transform: uppercase;
      font-family :Gilroy-Bold1;
      font-size: 1.5rem;
      margin-bottom: $rem05 !important;

      & a {
        color :$color-dc5ca1;
      }
    }

    &__mother {
      color: #535353;
      font-family: Gilroy-Regular1;
      font-size: $font-4;
    }

    &__img {
      width: 14%;
      margin: $rem1 0;
    }

    &__text {
      color: #a974bd;
      font-family: Gilroy-Medium1;
      font-size: $font-4;
      padding: 0 $rem1;
    }
  }
}

.home-header-two {
  width: 100%;
  float: left;
  word-wrap: break-word;
  padding: $rem38 0 $rem1 0;

  &__left {
    width: 60%;
    float: left;
    padding: 0 $rem2;
    position: relative;

    &__img {
      position: relative;
      width: 88%;
      margin-top: -15px;
    }

    &__imgposi {
      position: absolute;
      left: -22%;
      bottom: -8%;
      width: 45%;
      z-index: -1;

      &--1 {
        bottom: -28%;
        left: -26%;
      }

      &--2 {
        bottom: 3%;
        width: 24%;
        left: -16%;
      }
    }

    &__textposi {
      font-size: $font-5;
      font-family: Gilroy-Medium1;
      color: $color-dc5ca1;
    }

    & .home-hr{
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }

    & .home-hr-child {
      width: 3px;
      height: 85%;
      background-color: #a27cb0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__right {
    width: 40%;
    float: left;
    display: flex;

    &__box1 {
      margin-right: 4rem;

      & img {
        width: 17rem;
      }
    }

    &__box2 {
      font-size: $font-4;
      color: $color-dc5ca1;
      font-family: Gilroy-Medium1;
    }
  }
}

.sc {
  width: $pt60;
  right: 0;
  left: 0;
  margin: auto;
}

.box-two {
  margin-bottom: $rem2;

  & .home-icon {
    padding: $rem06 $rem1;

    & img {
      vertical-align: middle;
    }

    & .home-icon-span {
      font-size: $font-44;
      font-family: Gilroy-Bold1;
      color: #575757;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-family: Gilroy-Medium1;
    color: #a974bd;
    margin-top: 10px;
  }

  &__name {
    color: #dc5ca1;
    font-size: 1.5rem;
    font-family: Gilroy-Bold1;
    margin-top: 15px;
  }

  &__number {
    color: #575757;
    font-size: 2rem;
    font-family: Gilroy-Bold1;
    margin-top: 5px;
  }
}

.home-header-three {
  position: relative;
  width: 100%;
  margin-top: $rem6;
}

.list-text-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .text-menu {
    font-size: $font-6;
    font-family: Gilroy-Medium1;
    color: #585858;
    position: relative;
    padding-left: $rem35;

    & img {
      position: absolute;
      top: -$rem3;
      left: -$rem1;
    }
  }
}

.box-threes {
  display: flex;
  margin-bottom: 6rem;
  margin-top: 10rem;
}

.box-three-left {
  width: 48%;
  background-image: url('./../img_home/img2.png');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.box-three {
  margin-right: 50px;
  float: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 3rem 0 5rem;
  box-sizing: border-box;
  position: relative;

  &-top {
    display: flex;

    &__date {
      padding-right: 4rem;
      border-right: 2px solid #898989;
    }

    &__time {
      color: #a974bd;
      font-size: $font-9;
      line-height: $font-9;
      font-family: Gilroy-Bold1;
    }

    &__text1 {
      color: #585858;
      font-size: $font-5;
      font-family: Gilroy-Medium1;
      margin-top: 10px;
    }

    &__img {
      width: 185px;
    }

    &__where {
      padding-left: $rem25;
    }

    &__img1 {
      width: 155px;
      margin-top: 10px;
    }

    &__img2 {
      position: absolute;
      bottom: -16px;
      right: -25%;
      width: 35%
    }

    &__img3 {
      position: absolute;
      bottom: -50px;
      right: -240px;
      z-index: -1;
    }

    &__img4 {
      position: absolute;
      top: 15px;
      right: 80%;
      z-index: -1;
      width: 125%;
    }

    &__text2 {
      color: #585858;
      font-size: $font-5;
      font-family: Gilroy-Medium1;
      margin-top: 1rem;
    }

    &__span {
      color: #dc5ca1;
      font-family: Gilroy-Bold1;
      font-size: $font-8;
    }
  }

  &-bottom {
    &__title {
      color: $color-dc5ca1;
      font-size: $font-9;
      line-height: $font-9;
      font-family: Gilroy-Bold1;
      margin-top: $rem2;
      margin-bottom: $rem15;
    }

    &__ul {
      list-style-image: url('./../img_home/icon28.png');
      margin-left: $rem25;

      & li {
        font-size: 1.65rem;
        color: #585858;
        font-family: Gilroy-Medium1;
        margin-bottom: 8px;
      }
    }
  }

  &__background {
    position: absolute;
    width: 120%;
    top: -10%;
    left: -14%;
  }
}

.home-header-four {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

  &__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: $rem5 0 $rem3 0;

    & .tt {
      width: 50%;
    }

    &>.posi {
      position: absolute;
      top: -3rem;
      left: -1.5rem;
      width: 8%;
    }
  }

  &__img {
    width: 100%;
  }

  &__left {
    position: relative;

    &__imgposi {
      position: absolute;
      left: -22%;
      bottom: -20%;
      width: 45%;
      z-index: -1;
    }
  }

  &__right {
    padding: 0 15px;
    font-size: $font-5;
    color: $color-dc5ca1;
    font-family: Gilroy-Medium1;
  }
}

.home-box-four {

  &__right {
    overflow: auto;
    &__list {
      height: 100%;
      overflow-x: auto;

      & .hover-slide {
        position: absolute;
        top:0; bottom: 0;
        margin: auto;
        width: 100%;
        background-color: black;
        opacity: 0.8;
        font-size: $rem15;
        font-family: Gilroy-Medium1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
      }
    }
  }

  &__item {
    padding: $rem2 $rem15 $rem2 $rem15;
    background-color: #e7e7e7;
    cursor: pointer;

    &.active {
      background-color: #d9d9d9;
    }

    &__text {
      font-size: $font-4;
      color: #656362;
      font-family: Gilroy-Medium1;
    }
  }
}

.home-four-row {
  margin: 0;
}

.home-four-slide {
  padding: 0 $rem6;
  position: relative;

  &__button {
    position: absolute;
    top: $rem65;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}

.home-box-four-2-text__month {
  color: $color-dc5ca1;
  font-family: Gilroy-Medium1;
  font-size: $rem15;
  margin: $rem1 0;
}

.home-box-four-2-text__content {
  color: #656362;
  font-family: Gilroy-Medium1;
  font-size: $rem16;
}

a.home-box-four-2-text__title {
  color: #a16ba6;
  font-size: 2rem;
  font-family: Gilroy-Bold1;
  display: block;
}

.content__five__row {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.home-box-five {
  display: flex;
  margin-bottom: 4rem;

  &__text {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    background-image: url('./../img_home/img22.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: $rem4 $rem6 $rem4 $rem10;

    &__posi {
      position: absolute;
      bottom: -1rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      z-index: 2;
    }

    &__ul {
      list-style-type: none;

      & li {
        list-style-type: none;
        color: #7f7f7f;
        font-size: 2.5rem;
        font-family: Gilroy-Medium1;
        margin-bottom: $rem2;
      }
    }
  }

  &__img {
    padding-right: 0;
  }

}

@media only screen and (max-width: 1200px){
  .container--config {
    width: 970px;
  }

  .home-header-one {
    margin-bottom: 3rem;

    &__left {
      width: 66%;
    }

    &__right {
      margin-left: 16%;
    }
  }

  .home-box-one {
    &__img {
      &__more {
        &--2 {
          font-size: 2rem;
          line-height: 2rem;
          padding: 1.4rem 1.6rem 1.6rem 1.6rem;
        }

        &--8 {
          margin-top: 3rem;
        }
      }
    }

    &__content {
      padding: 1rem 1rem 2rem 1rem;

      &__name {
        font-size: 1.27rem;
      }

      &__mother {
        font-size: 1.25rem;
      }

      &__text {
        font-size: 1.3rem;
        padding: 0 0.5rem;
      }
    }
  }

  .home-header-two {
    &__left {
      padding: 0 2rem 0 4rem;

      &__textposi {
        font-size: 1.5rem;
      }
    }

    &__right {
      &__box1 {
        & img {
          width: 14rem;
        }
      }
    }
  }

  .box-three-left {
    width: 40%;
  }

  .box-three {
    margin-right: 4rem;

    &-top {
      &__date {
        padding-right: 2rem;
      }

      &__time {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }

      &__text1 {
        font-size: 1.8rem;
        margin-top: 5px;
      }

      &__img {
        width: 9rem;
      }

      &__where {
        padding-left: 2.5rem;
      }

      &__span {
        font-size: 2rem;
      }

      &__img1 {
        width: 100px;
        margin-top: 10px;
      }
    }

    &-bottom {
      &__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }

      &__ul {
        & li {
          font-size: 1.4rem;
          margin-bottom: 0px;
        }
      }
    }

    &__background {
      width: 100%;
      left: -7%;
    }
  }
}

@media only screen and (max-width:850px) {
  .box-three-left {
    width: 20%;
  }
}
@media only screen and (max-width:1200px) {
  .home-box-five__text__ul li {
    font-size: 1.8rem; }
}
@media only screen and (max-width: 991px){
  .container--config {
    width: 750px;
  }


  .home-box-five__text__ul li {
    font-size: 1.8rem;
  } 

  .home-box-five__text{ 
    padding: 4rem;
  }
}

@media only screen and (max-width: 767px){
  .right-btn {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }

  .home-box-one__img__more--2 {
    width: 100%;
    margin-left: 0;
    padding: 1rem 0.5rem 1.2rem 0.5rem;
    text-align: center;
  }

  .list-text-menu {
    margin-top: $rem4;
  }
  .home-header-two__left__textposi {
    position: absolute;
  }

  .box-two__number {
    font-size: 1.5rem;
  }

  .box-two__text {
    font-size: 1.3rem;
  }

  .box-two__name {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .home-box-one__img__more--9 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 8px;
  }

  a.home-box-four-2-text__title {
    font-size: 1.6rem;
    margin-top: 10px;
  }

  .container--config {
    width: inherit;
  }

  .hidden-mb {
    display: none !important;
  }

  .m-pl-0 {
    padding-left: 0;
  }

  .m-pr-10 {
    padding-right: 10px;
  }

  .m-pr-0 {
    padding-right: 0;
  }

  .m-mt-10 {
    margin-top: 10px;
  }

  .m-mb-10 {
    margin-bottom: 10px;
  }

  .home-header-four__2 .tt {
    width: 100%;
  }

  .home-video {
    &__play {
      width: 150px;
      height: 85px;
      bottom: 35px;
      left: 10px;
      top: inherit;
      right: inherit;

      & img.player {
        width: 80px;
      }

      &__text {
        display: block;
        color: #fff;
        font-size: 24px;
        font-family: Gilroy-Bold1;
      }
    }

    & .container--posi {
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      bottom: 0;
      right: 0;
    }

    &__icon {
      z-index: 999;

      &__1 {
        margin-top: $rem5;
        margin-bottom: $rem2;
      }

      &__2 {
        margin-top: $rem2;
        margin-bottom: $rem4;
        & img {
          cursor: pointer;
        }
      }

      &__3 {
        & img {
          cursor: pointer;
        }
      }
    }
  }

  .mb-box-one-header {
    border: 1px solid #d9d9d9;
    float: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .home-box-one__content {
      padding: 0;
    }
  }

  .home-box-one__content__img {
    width: 10%;
  }

  .home-box-row-one {
    margin: 0;
  }

  .home-box-one {
    &__content {
      &__img {
        margin: 0.5rem 0;
      }
    }
  }

  .home-header-one {
    margin-bottom: 0;
    padding: 2rem 0;
  }

  .home-header-one__left {
    width: 65%;
  }

  .home-header-one__right {
    width: 25%;
    margin-left: 10%;
  }

  .home-header-one__left__text {
    font-size: 1.3rem;
  }
  .home-header-one__left__text .break-ip6{
    display: none;
  }
  .image_prev {
    width: 13px;
  }

  .home-box-four__item {
    padding: 10px;
  }

  .home-box-four__item__text {
    margin-top: 8px;
  }

  .home-header-four__2 > .posi {
    top: -2rem;
    left: 0.5rem;
    width: 14%;
  }

  .home-header-four__2 {
    margin: 4rem 0 3rem 0;
  }

  .home-four-slide {
    padding: 0 15px;
  }

  .home-box-five {
    display: inherit;
    margin-bottom: 50px;
  }

  .home-box-five__text {
    padding: 30px 15px 30px 40px;
    margin: 0 15px;
  }

  .home-box-five__text__ul li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .home-box-one__img__more--7 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1.5rem 3rem;
  }
  .home-box-five__text__posi {
    bottom: -2rem;
  }

  .m-number {
    font-family: 'Gilroy-Bold1';
    color: #dc5ca1;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .m-text {
    color: #717171;
    font-size: 11px;
    font-family: Gilroy-Bold1;
  }

  .sc {
    width: 100%;
  }

  .m-header {
    font-size: 30px;
    color: #a974bd;
    font-family: Honey Cream;
    margin-bottom: 10px;
  }

  .m-header-box {
    margin-top: 20px;
  }

  .home-header-four {
    display: inherit;
    margin-bottom: 2rem;
    width: inherit;
  }

  .home-header-four__right {
    font-size: 14px;
    text-align: center;
  }

  .home-header-four__left__imgposi {
    left: -9%;
    bottom: -31%;
    width: 35%;
  }
  .home-header-two__left__textposi {
    font-size: 10px;
  }

  .home-header-two__left__textposi {
    right: 0%;
    bottom: -30%;
  }

  .list-text-menu .text-menu {
    font-size: 1.2rem;
    padding-left: 2rem;
  }

  .home-box-one__img__more--4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 8px;
    text-align: center;
  }

  .home-header-three {
    margin-top: 3rem;
  }
  .box-three-top__img2 {
    right: -15px;
    bottom: -15px;
  }

  .box-threes {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 15px;
  }
  .box-three__background{
    display: none;
  }
  .box-three-left {
    display: none;
  }
  .box-three {
    background-image: url('./../img_home/img61.png'), url('./../img_home/img58.png');
    background-size: 100% 100%, 30%;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    position: inherit;
  }

  .m-box-img {
    width: 100%;
    float: left;
    padding: 0;
    text-align: center;
  }

  .box-three-top {
    padding: 30px 30px 0 30px;
  }

  .box-three-bottom {
    padding: 0 30px 30px 30px;
  }

  .box-three-bottom__title {
    font-size: 2.3rem;
  }

  .box-three-top__date {
    width: 50%;
  }

  .box-three-top__where {
    width: 50%;
  }

  .home-box-row-one {
    padding: 0 15px;
  }

  .home-box-row-two {
    padding: 0 15px;
  }

  .slick-config {
    margin: 0;
  }

  .slick-0-mb {
    margin: 0;
  }

  .home-header-three {
    width: 80%;
    float: right;
  }

  .home-header-two__left__imgposi {
    left: -26%;
    bottom: -25%;
    width: 30%;
    z-index: -1;
  }

  .content__five__row {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 481px){
  .m-header-box {
    display: none;
  }
}

@media only screen and (max-width: 320px){}