.hiden {
  display: none; }

.font-gilroy-bold {
  font-family: Gilroy-Bold1; }

.font-gilroy-extrabold {
  font-family: Gilroy-ExtraBold; }

.font-gilroy-light {
  font-family: Gilroy-Light1; }

.font-gilroy-medium {
  font-family: Gilroy-Medium1; }

.font-gilroy-regular {
  font-family: Gilroy-Regular1; }

.font-honey-cream {
  font-family: Honey Cream; }

a, a:hover, a:active, a:link {
  text-decoration: none; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #c4c4c4; }

::-webkit-scrollbar-thumb {
  background: #f2f2f2; }

::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2; }

.container--config {
  width: calc(5/7*100%); }

.target-youtube {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 100px;
  background-color: transparent; }

.circle {
  width: 8px;
  height: 8px;
  background-color: #dc5ca1;
  border-radius: 8px;
  display: inline-block;
  margin-right: 5px; }

.pl-0 {
  padding-left: 0 !important; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.content__one {
  background-repeat: no-repeat;
  background-image: url("./../img_home/img23.png"), url("./../img_home/img26.png");
  background-position: top left, top right;
  background-size: 13%, 32%, 27%, 38%; }

.home-video {
  position: relative; }
  .home-video img.player {
    width: 100%; }
  .home-video__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 150px;
    height: 150px;
    text-align: center; }
    .home-video__play__text {
      display: none; }
  .home-video .container--posi {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0; }
  .home-video__icon {
    z-index: 999; }
    .home-video__icon__1 {
      margin-top: 5rem;
      margin-bottom: 2rem; }
    .home-video__icon__2 {
      margin-top: 2rem;
      margin-bottom: 4rem; }
      .home-video__icon__2 img {
        cursor: pointer; }
    .home-video__icon__3 img {
      cursor: pointer; }

.home-box-row-one {
  padding: 0 6rem; }

.home-box-row-two {
  padding: 0 6rem; }

.slick-4 {
  overflow: hidden; }

.slick-3 {
  overflow: hidden; }

.home-header-one {
  width: 100%;
  float: left;
  word-wrap: break-word;
  padding: 3.8rem 0; }
  .home-header-one__left {
    width: 60%;
    float: left; }
    .home-header-one__left__text {
      color: #dc5ca1;
      font-family: Gilroy-Medium1;
      font-size: 1.5rem;
      margin-top: 0.7rem; }
  .home-header-one__right {
    width: 17%;
    margin-left: 22%;
    float: left; }

.home-box-one {
  border-radius: 0.8rem;
  border: 1px solid #d9d9d9;
  margin-bottom: 4.5rem;
  overflow: hidden; }
  .home-box-one:hover {
    border: 1px solid #a974bd; }
  .home-box-one__img {
    position: relative; }
    .home-box-one__imgimg {
      border-radius: 0.5rem; }
    .home-box-one__img__moreposition {
      position: absolute;
      bottom: -1.1rem;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center; }
    .home-box-one__img__more {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff; }
      .home-box-one__img__more:hover {
        filter: grayscale(50%); }
      .home-box-one__img__more--1 {
        background-image: url("./../img_home/more.png");
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 0.8rem 1.5rem;
        font-family: Gilroy-Regular1; }
      .home-box-one__img__more--2 {
        background-image: url("./../img_home/img9.png");
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding: 1.8rem 2rem 2rem 2rem;
        font-family: Gilroy-Bold1;
        text-transform: uppercase;
        margin-top: 0.5rem;
        margin-left: 5%; }
      .home-box-one__img__more--3 {
        background-image: url("./../img_home/img14.png");
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1rem 1rem;
        font-family: Gilroy-Bold1;
        text-transform: uppercase;
        float: right; }
      .home-box-one__img__more--4 {
        background-image: url("./../img_home/img9.png");
        font-size: 2.6rem;
        line-height: 2.6rem;
        padding: 1rem 2rem 1.3rem 2rem;
        font-family: Gilroy-Regular1; }
      .home-box-one__img__more--5 {
        background-image: url("./../img_home/img14.png");
        font-size: 1.8rem;
        line-height: 1.8rem;
        padding: 0.5rem 1.5rem;
        font-family: Gilroy-Regular1;
        margin-top: 1.5rem;
        float: left; }
      .home-box-one__img__more--6 {
        background-image: url("./../img_home/img14.png");
        font-size: 1.8rem;
        line-height: 1.8rem;
        padding: 0.5rem 1.5rem;
        font-family: Gilroy-Regular1;
        float: right; }
      .home-box-one__img__more--7 {
        background-image: url("./../img_home/img14.png");
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1.3rem 2rem;
        font-family: Gilroy-Bold1; }
      .home-box-one__img__more--8 {
        background-image: url("./../img_home/img14.png");
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1rem 1rem;
        font-family: Gilroy-Regular1;
        margin-top: 5rem; }
      .home-box-one__img__more--9 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
        line-height: 2.6rem;
        padding: 1rem 2rem 1rem 2rem;
        font-family: Gilroy-Regular1;
        background-image: url("./../img_home/img14.png");
        margin-bottom: 8px;
        text-align: center; }
  .home-box-one__content {
    text-align: center;
    padding: 1.5rem 1.5rem 3rem 1.5rem; }
    .home-box-one__content__name {
      text-transform: uppercase;
      font-family: Gilroy-Bold1;
      font-size: 1.5rem;
      margin-bottom: 0.5rem !important; }
      .home-box-one__content__name a {
        color: #dc5ca1; }
    .home-box-one__content__mother {
      color: #535353;
      font-family: Gilroy-Regular1;
      font-size: 1.4rem; }
    .home-box-one__content__img {
      width: 14%;
      margin: 1rem 0; }
    .home-box-one__content__text {
      color: #a974bd;
      font-family: Gilroy-Medium1;
      font-size: 1.4rem;
      padding: 0 1rem; }

.home-header-two {
  width: 100%;
  float: left;
  word-wrap: break-word;
  padding: 3.8rem 0 1rem 0; }
  .home-header-two__left {
    width: 60%;
    float: left;
    padding: 0 2rem;
    position: relative; }
    .home-header-two__left__img {
      position: relative;
      width: 88%;
      margin-top: -15px; }
    .home-header-two__left__imgposi {
      position: absolute;
      left: -22%;
      bottom: -8%;
      width: 45%;
      z-index: -1; }
      .home-header-two__left__imgposi--1 {
        bottom: -28%;
        left: -26%; }
      .home-header-two__left__imgposi--2 {
        bottom: 3%;
        width: 24%;
        left: -16%; }
    .home-header-two__left__textposi {
      font-size: 1.8rem;
      font-family: Gilroy-Medium1;
      color: #dc5ca1; }
    .home-header-two__left .home-hr {
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute; }
    .home-header-two__left .home-hr-child {
      width: 3px;
      height: 85%;
      background-color: #a27cb0;
      top: 0;
      bottom: 0;
      margin: auto; }
  .home-header-two__right {
    width: 40%;
    float: left;
    display: flex; }
    .home-header-two__right__box1 {
      margin-right: 4rem; }
      .home-header-two__right__box1 img {
        width: 17rem; }
    .home-header-two__right__box2 {
      font-size: 1.4rem;
      color: #dc5ca1;
      font-family: Gilroy-Medium1; }

.sc {
  width: 60%;
  right: 0;
  left: 0;
  margin: auto; }

.box-two {
  margin-bottom: 2rem; }
  .box-two .home-icon {
    padding: 0.6rem 1rem; }
    .box-two .home-icon img {
      vertical-align: middle; }
    .box-two .home-icon .home-icon-span {
      font-size: 1.54rem;
      font-family: Gilroy-Bold1;
      color: #575757; }
  .box-two__text {
    font-size: 1.5rem;
    font-family: Gilroy-Medium1;
    color: #a974bd;
    margin-top: 10px; }
  .box-two__name {
    color: #dc5ca1;
    font-size: 1.5rem;
    font-family: Gilroy-Bold1;
    margin-top: 15px; }
  .box-two__number {
    color: #575757;
    font-size: 2rem;
    font-family: Gilroy-Bold1;
    margin-top: 5px; }

.home-header-three {
  position: relative;
  width: 100%;
  margin-top: 6rem; }

.list-text-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .list-text-menu .text-menu {
    font-size: 2.1rem;
    font-family: Gilroy-Medium1;
    color: #585858;
    position: relative;
    padding-left: 3.5rem; }
    .list-text-menu .text-menu img {
      position: absolute;
      top: -3rem;
      left: -1rem; }

.box-threes {
  display: flex;
  margin-bottom: 6rem;
  margin-top: 10rem; }

.box-three-left {
  width: 48%;
  background-image: url("./../img_home/img2.png");
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat; }

.box-three {
  margin-right: 50px;
  float: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 3rem 0 5rem;
  box-sizing: border-box;
  position: relative; }
  .box-three-top {
    display: flex; }
    .box-three-top__date {
      padding-right: 4rem;
      border-right: 2px solid #898989; }
      .box-three-top__date a{
        color: #c387cf;
        font-size: 8.5rem;
        line-height: 7.5rem;
        font-family: Gilroy-Bold1;
      }
  
    .box-three-top__time {
      color: #a974bd;
      font-size: 3.5rem;
      line-height: 3.5rem;
      font-family: Gilroy-Bold1; }
    .box-three-top__text1 {
      color: #585858;
      font-size: 1.8rem;
      font-family: Gilroy-Medium1;
      margin-top: 10px; }
    .box-three-top__img {
      width: 185px; }
    .box-three-top__where {
      padding-left: 2.5rem; }
    .box-three-top__img1 {
      width: 155px;
      margin-top: 10px; }
    .box-three-top__img2 {
      position: absolute;
      bottom: -16px;
      right: -25%;
      width: 35%; }
    .box-three-top__img3 {
      position: absolute;
      bottom: -50px;
      right: -240px;
      z-index: -1; }
    .box-three-top__img4 {
      position: absolute;
      top: 15px;
      right: 80%;
      z-index: -1;
      width: 125%; }
    .box-three-top__text2 {
      color: #585858;
      font-size: 1.8rem;
      font-family: Gilroy-Medium1;
      margin-top: 1rem; }
    .box-three-top__span {
      color: #dc5ca1;
      font-family: Gilroy-Bold1;
      font-size: 2.8rem; }
  .box-three-bottom__title {
    color: #dc5ca1;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: Gilroy-Bold1;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .box-three-bottom__ul {
    list-style-image: url("./../img_home/icon28.png");
    margin-left: 2.5rem; }
    .box-three-bottom__ul li {
      font-size: 1.65rem;
      color: #585858;
      font-family: Gilroy-Medium1;
      margin-bottom: 8px; }
  .box-three__background {
    position: absolute;
    width: 120%;
    top: -10%;
    left: -14%; }

.home-header-four {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem; }
  .home-header-four__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 5rem 0 3rem 0; }
    .home-header-four__2 .tt {
      width: 50%; }
    .home-header-four__2 > .posi {
      position: absolute;
      top: -3rem;
      left: -1.5rem;
      width: 8%; }
  .home-header-four__img {
    width: 100%; }
  .home-header-four__left {
    position: relative; }
    .home-header-four__left__imgposi {
      position: absolute;
      left: -22%;
      bottom: -20%;
      width: 45%;
      z-index: -1; }
  .home-header-four__right {
    padding: 0 15px;
    font-size: 1.8rem;
    color: #dc5ca1;
    font-family: Gilroy-Medium1; }

.home-box-four__right {
  overflow: auto; }
  .home-box-four__right__list {
    height: 100%;
    overflow-x: auto; }
    .home-box-four__right__list .hover-slide {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      background-color: black;
      opacity: 0.8;
      font-size: 1.5rem;
      font-family: Gilroy-Medium1;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none; }
.home-box-four__item {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: #e7e7e7;
  cursor: pointer; }
  .home-box-four__item.active {
    background-color: #d9d9d9; }
  .home-box-four__item__text {
    font-size: 1.4rem;
    color: #656362;
    font-family: Gilroy-Medium1; }

.home-four-row {
  margin: 0; }

.home-four-slide {
  padding: 0 6rem;
  position: relative; }
  .home-four-slide__button {
    position: absolute;
    top: 6.5rem; }
    .home-four-slide__button--prev {
      left: 0; }
    .home-four-slide__button--next {
      right: 0; }

.home-box-four-2-text__month {
  color: #dc5ca1;
  font-family: Gilroy-Medium1;
  font-size: 1.5rem;
  margin: 1rem 0; }

.home-box-four-2-text__content {
  color: #656362;
  font-family: Gilroy-Medium1;
  font-size: 1.6rem; }

a.home-box-four-2-text__title {
  color: #a16ba6;
  font-size: 2rem;
  font-family: Gilroy-Bold1;
  display: block; }

.content__five__row {
  margin-top: 4rem;
  margin-bottom: 2rem; }

.home-box-five {
  display: flex;
  margin-bottom: 4rem; }
  .home-box-five__text {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    background-image: url("./../img_home/img22.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 4rem 6rem 4rem 10rem; }
    .home-box-five__text__posi {
      position: absolute;
      bottom: -1rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      z-index: 2; }
    .home-box-five__text__ul {
      list-style-type: none; }
      .home-box-five__text__ul li {
        list-style-type: none;
        color: #7f7f7f;
        font-size: 2.5rem;
        font-family: Gilroy-Medium1;
        margin-bottom: 2rem; }
  .home-box-five__img {
    padding-right: 0; }

@media only screen and (max-width: 1200px) {
  .container--config {
    width: 970px; }
    .home-box-five__text__ul li {
      font-size: 1.3rem !important; }
  

  .home-header-one {
    margin-bottom: 3rem; }
    .home-header-one__left {
      width: 66%; }
    .home-header-one__right {
      margin-left: 16%; }

  .home-box-one__img__more--2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1.4rem 1.6rem 1.6rem 1.6rem; }
  .home-box-one__img__more--8 {
    margin-top: 3rem; }
  .home-box-one__content {
    padding: 1rem 1rem 2rem 1rem; }
    .home-box-one__content__name {
      font-size: 1.27rem; }
    .home-box-one__content__mother {
      font-size: 1.25rem; }
    .home-box-one__content__text {
      font-size: 1.3rem;
      padding: 0 0.5rem; }

  .home-header-two__left {
    padding: 0 2rem 0 4rem; }
    .home-header-two__left__textposi {
      font-size: 1.5rem; }
  .home-header-two__right__box1 img {
    width: 14rem; }

  .box-three-left {
    width: 40%; }

  .box-three {
    margin-right: 4rem; }
    .box-three-top__date {
      padding-right: 2rem; }
    .box-three-top__time {
      font-size: 2.5rem;
      line-height: 2.5rem; }
    .box-three-top__text1 {
      font-size: 1.8rem;
      margin-top: 5px; }
    .box-three-top__img {
      width: 9rem; }
    .box-three-top__where {
      padding-left: 2.5rem; }
    .box-three-top__span {
      font-size: 2rem; }
    .box-three-top__img1 {
      width: 100px;
      margin-top: 10px; }
    .box-three-bottom__title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin-bottom: 1rem; }
    .box-three-bottom__ul li {
      font-size: 1.4rem;
      margin-bottom: 0px; }
    .box-three__background {
      width: 100%;
      left: -7%; } 
    }
@media only screen and (max-width: 850px) {
  .box-three-left {
    width: 20%; } }
@media only screen and (max-width: 991px) {
  .container--config {
    width: 750px; }
  .home-box-five__text {
    padding: 4rem; } }
@media only screen and (max-width: 767px) {
  .right-btn {
    width: 100%;
    text-align: center;
    font-size: 15px; }

  .home-box-one__img__more--2 {
    width: 100%;
    margin-left: 0;
    padding: 1rem 0.5rem 1.2rem 0.5rem;
    text-align: center; }

  .list-text-menu {
    margin-top: 4rem; }

  .home-header-two__left__textposi {
    position: absolute; }

  .box-two__number {
    font-size: 1.5rem; }

  .box-two__text {
    font-size: 1.3rem; }

  .box-two__name {
    font-size: 1.3rem;
    margin-top: 10px; }

  .home-box-one__img__more--9 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 8px; }

  a.home-box-four-2-text__title {
    font-size: 1.6rem;
    margin-top: 10px; }

  .container--config {
    width: inherit; }

  .hidden-mb {
    display: none !important; }

  .m-pl-0 {
    padding-left: 0; }

  .m-pr-10 {
    padding-right: 10px; }

  .m-pr-0 {
    padding-right: 0; }

  .m-mt-10 {
    margin-top: 10px; }

  .m-mb-10 {
    margin-bottom: 10px; }

  .home-header-four__2 .tt {
    width: 100%; }

  .home-video__play {
    width: 150px;
    height: 85px;
    bottom: 35px;
    left: 10px;
    top: inherit;
    right: inherit; }
    .home-video__play img.player {
      width: 80px; }
    .home-video__play__text {
      display: block;
      color: #fff;
      font-size: 24px;
      font-family: Gilroy-Bold1; }
  .home-video .container--posi {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0; }
  .home-video__icon {
    z-index: 999; }
    .home-video__icon__1 {
      margin-top: 5rem;
      margin-bottom: 2rem; }
    .home-video__icon__2 {
      margin-top: 2rem;
      margin-bottom: 4rem; }
      .home-video__icon__2 img {
        cursor: pointer; }
    .home-video__icon__3 img {
      cursor: pointer; }

  .mb-box-one-header {
    border: 1px solid #d9d9d9;
    float: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mb-box-one-header .home-box-one__content {
      padding: 0; }

  .home-box-one__content__img {
    width: 10%; }

  .home-box-row-one {
    margin: 0; }

  .home-box-one__content__img {
    margin: 0.5rem 0; }

  .home-header-one {
    margin-bottom: 0;
    padding: 2rem 0; }

  .home-header-one__left {
    width: 65%; }

  .home-header-one__right {
    width: 25%;
    margin-left: 10%; }

  .home-header-one__left__text {
    font-size: 1.3rem; }
    .break-ip6{
      display: none !important;
    }

  .image_prev {
    width: 13px; }

  .home-box-four__item {
    padding: 10px; }

  .home-box-four__item__text {
    margin-top: 8px; }

  .home-header-four__2 > .posi {
    top: -2rem;
    left: 0.5rem;
    width: 14%; }

  .home-header-four__2 {
    margin: 4rem 0 3rem 0; }

  .home-four-slide {
    padding: 0 15px; }

  .home-box-five {
    display: inherit;
    margin-bottom: 50px; }

  .home-box-five__text {
    padding: 30px 15px 30px 40px;
    margin: 0 15px; }

  .home-box-five__text__ul li {
    font-size: 1.5rem;
    margin-bottom: 1rem; }

  .home-box-one__img__more--7 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1.5rem 3rem; }

  .home-box-five__text__posi {
    bottom: -2rem; }

  .m-number {
    font-family: 'Gilroy-Bold1';
    color: #dc5ca1;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase; }

  .m-text {
    color: #717171;
    font-size: 11px;
    font-family: Gilroy-Bold1; }

  .sc {
    width: 100%; }

  .m-header {
    font-size: 30px;
    color: #a974bd;
    font-family: Honey Cream;
    margin-bottom: 10px; }

  .m-header-box {
    margin-top: 20px; }

  .home-header-four {
    display: inherit;
    margin-bottom: 2rem;
    width: inherit; }

  .home-header-four__right {
    font-size: 14px;
    text-align: center; }

  .home-header-four__left__imgposi {
    left: -9%;
    bottom: -31%;
    width: 35%; }

  .home-header-two__left__textposi {
    font-size: 10px; }

  .home-header-two__left__textposi {
    right: 0%;
    bottom: -30%; }

  .list-text-menu .text-menu {
    font-size: 1.2rem;
    padding-left: 2rem; }

  .home-box-one__img__more--4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 8px;
    text-align: center; }

  .home-header-three {
    margin-top: 3rem; }

  .box-three-top__img2 {
    right: -15px;
    bottom: -15px; }

  .box-threes {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 15px; }

  .box-three__background {
    display: none; }

  .box-three-left {
    display: none; }

  .box-three {
    background-image: url("./../img_home/img58.png"),url("./../img_home/img61.png");
    background-size: 30%,100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right,top left;
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    position: inherit; }

  .m-box-img {
    width: 100%;
    float: left;
    padding: 0;
    text-align: center; }

  .box-three-top {
    padding: 30px 30px 0 30px; }

  .box-three-bottom {
    padding: 0 30px 30px 30px; }

  .box-three-bottom__title {
    font-size: 2.3rem; }

  .box-three-top__date {
    width: 50%; }

  .box-three-top__where {
    width: 50%; }

  .home-box-row-one {
    padding: 0 15px; }

  .home-box-row-two {
    padding: 0 15px; }

  .slick-config {
    margin: 0; }

  .slick-0-mb {
    margin: 0; }

  .home-header-three {
    width: 80%;
    float: right; }

  .home-header-two__left__imgposi {
    left: -26%;
    bottom: -25%;
    width: 30%;
    z-index: -1; }

  .content__five__row {
    margin-top: 2rem; } 
    .box-three-top__date a{
      font-size: 5.5rem;
      line-height: 4.5rem;
    }
  
  }
  @media only screen and (max-width: 375px) {
    .home-header-one__left__text .break-ip6{
      display: block;
    }
  }
@media only screen and (min-width: 481px) {
  .m-header-box {
    display: none; } 
  }
  @media only screen and (min-width: 320px) {
    .box-three-top__date a{
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

  @media only screen and (min-width: 480px) {
        .box-three-top__date a{
      font-size: 5.5rem;
      line-height: 4.5rem;
    }
  }
  @media only screen and (min-width: 767px) {
        .box-three-top__date a{
      font-size: 5.5rem;
      line-height: 4.5rem;
    }
  }
  @media only screen and (min-width: 768px) {
        .box-three-top__date a{
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
  }
  @media only screen and (min-width: 992px) {
        .box-three-top__date a{
      font-size: 4.5rem;
      line-height: 2.5rem;
    }
  }
  @media only screen and (min-width: 1200px) {
        .box-three-top__date a{
      font-size: 6.5rem;
      line-height: 4.5rem;
    }
  }
  
    
/*# sourceMappingURL=home.css.map */
