.vote-thumb { position: relative; }
.vote-thumb .loading { /*display: table;*/ background-color: rgba(0,0,0, 0.5); position: absolute; width: 100%; height: 100%; left: 0; top: 0; color:#fff; padding: 5px; }
.vote-thumb .loading p { margin: 0px; text-align: center; /*display: table-cell; vertical-align: middle;*/ }
.grecaptcha-badge { display: none; }
.d-none { display: none; }
.cropper-modal { opacity: 0.9 !important; }

.modal-title { font-size: 18px; font-weight: bold; }

.tgn-mb { position: fixed; right: 15px; bottom: 0px; width: 250px; z-index: 1; }
.modal { z-index: 99999}
.tgn-desk { position: fixed; right: 15px; bottom: 30px; z-index: 1; }

.member-menu { float: right; padding: 5px; border-radius: 0px 0px 5px 5px; font-family: Stabile-Regular; }
.member-menu img { border-radius:50%; width: 28px; }

@-webkit-keyframes blinker {
    from {
        opacity: 1.0; }
    to {
        opacity: 0.7; } }

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate; }

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.ani_zoom {
    text-align: center;
    animation-name: ani_zoom_define;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes ani_zoom_define {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.25, 1.25);
    }
}

@media (max-width: 650px) {
    .topbaiduthi.tranganh {
        margin-top: 0px !important;
    }
}

#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    height: 23px;
}
#progress-wrp .progress-bar{
    height: 20px;
    border-radius: 3px;
    background-color: green;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}