.thele-title{
    text-align: center;
    margin-top: 55px;
}
.thele-title h5{
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:26px;
    margin:0px;
    font-weight:bold;
    text-transform: uppercase;
}
.thele-title .join-btn a{
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url('../images/thelegiaithuong/img14.png') no-repeat;
    background-size: 100% 100%;
    padding: 15px 7px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.thele-title .join-btn a:before{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url('../images/thelegiaithuong/link-bottom.png' ) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.thele-title .join-btn a span{
    padding: 10px 12px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
}
.thele-title .join-btn{
    margin-top: 34px;
    margin-bottom: 40px;
    cursor: pointer;
}

.thele-title .join-btn:hover {
    filter: grayscale(50%); 
}

.thele-img-title{
    display:inline-block;
    position: relative;
    width: 78%;
}
.thele-img-title:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -27px;
    height: 140px;
    width: 315px;
    background: url('../images/thelegiaithuong/left-title-img.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.thele-img-title:after{
    content: '';
    position: absolute;
    bottom: -10px;
    right: -44px;
    height: 140px;
    width: 315px;
    background: url('../images/thelegiaithuong/right-title-img.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.thele-img-title img{
    z-index: 2;
    max-width: 66%;
}
    
.no-padding{
    padding:0px !important;
}
.thelegiaithuong-content{
    position: relative;
    margin:auto;
}
 #section1 .img-container-fluid{
    position: absolute;
    width: 100%;
    top: 14%;
    z-index: -1;
}
#section4 .img-container-fluid{
    position: absolute;
    width: 100%;
    top: 29%;
    z-index: -1;
}
#section5 .img-container-fluid{
    position: absolute;
    width: 100%;
    top: -14%;
    z-index: -3;
}
#section5 .tc-img-bg{
    width: 50%;
    left: 50%;
    top: 87%;
}
.right-img-box span img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    z-index: -1;
    transform: translate(-85%, -65%);
}
.pink-img-bg span img{
    position: absolute;
    top:50%;
    left:50%;
    width:200px;
    z-index: 3;
    transform: translate(-76%, -62%);
}
.tc-img-bg span img{
    position: absolute;
    top:50%;
    left:50%;
    width:200px;
    z-index: 3;
    transform: translate(-76%, -62%);
}
.content-ctn h1{
    font-family: 'Gilroy-Bold1';
    font-weight:bold;
    font-size: 30px;
    color:#dc5ca1;
    /* padding-left: 50px; */
    /* padding-top: 50px; */
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}


 #section h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 8%;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section1 h1:before{
    top: -85%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -8%;
    width: 90px;
    height: 90px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
#section2 h1:before{
    top: -85%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -8%;
    width: 90px;
    height: 90px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 
#section2 h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 32%;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section3 h1:before{
    top: -85%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -4%;
    width: 90px;
    height: 90px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 #section3 h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 8%;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}

#section4 h1:before{
    top: -130%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -4%;
    width: 90px;
    height: 90px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 #section4 h1:after{
    content: '';
    position: absolute;
    top: -107%;
    left: 16%;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}

.cachthuc h1:after{
    content: '';
    position: absolute;
    top: 24%;
    left: 20%;
    z-index: -1;
    width: 233px;
    height: 100px;
    background: url('../images/thelegiaithuong/title-right.png') no-repeat;
    background-size:contain;
}
.content-ctn p{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 16pt;
    color: #585858;
    /* padding-left: 50px; */
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px;
}
.thelegt .thelegiaithuong-content:last-child{
    margin-top: 20px;
}
.thelegt .thelegiaithuong-content:last-child h1{
    margin-top: 160px;
}
/* giai thuong */
.gt-left h2 {
    /* text-align: left; */
    font-family: 'Gilroy-Bold1';
    color: #fff;
    font-size: 48px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -8px;
}
.gt-right h2{
    text-align: left;
    font-family: 'Gilroy-Bold1';
    color: #a974bd;
    font-size: 57px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    /* position: absolute; */
}
.gt-right h3{
    text-align: left;
    font-family: 'Gilroy-Bold1';
    color: #a974bd;
    font-size: 23px;
    margin: 0px;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* position: absolute; */
    /* top:30%;
    left: 40%; */
}
.gt-icon img{
    margin-top: -21%;
}
.step span{
    padding-left: 5px;
}
.step span a{
    text-align: left;
    font-family: 'Gilroy-Regular1';
    color: #dc5ca1;
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: #dc5ca1 1px solid;
    padding: 4px;
    border-radius: 17px;
}
.step2, .step1, .step3, .tc-pd{
    margin-top: 20px;
}
.step img, .tc-pd img{
    width:1rem;
}
.dahuong-img{
    position: absolute;
    position: absolute;
    right: 8%;
    top: 50%;
    width: 15%;
}
.dahuong-img img{
    z-index: -1;
    width: 140px;
}
/* .babuoc:after{
    content: '';
    position: absolute;
    top: 61%;
    right: 22%;
    height: 120px;
    width: 120px;
    background: url(../images/thelegiaithuong/dahuong.png) no-repeat;
    background-size: contain;
    z-index: -1;
} */
#section4:before{
    content: '';
    position: absolute;
    left: 0;
    top: 14%;
    height: 86%;
    width: 100%;
    background-color: #fff6fb;
    z-index: -1;
}
.tieuchi span a{
    text-align: left;
    font-family: 'Gilroy-Regular1';
    color: #a974bd;
    font-size: 18px;
    margin: 0px;
    padding-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
   
}
 #section1-mb, #section2-mb, #section3-mb{
    display:none;
}
 #section1, #section2, #section3{
    display:block;
    margin-top: 3%;
    margin-bottom: 3%;
}
/* responsive mobile  */

.intro{
    position: absolute;
}
.floated img{
    float: right;
}


@media screen and (max-width: 1500px){
    .thelegt .thelegiaithuong-content:last-child{
        margin-top:0px;
    }
    .thelegt .thelegiaithuong-content:last-child h1 {
        margin-top: 15px;
    }
}
@media screen and (max-width: 1300px){
    .thelegt .thelegiaithuong-content:last-child h1 {
        margin-top: 45px;
    }
    .thelegt .thelegiaithuong-content:nth-of-type(2) .img-container-fluid{
        top: 30px;
    }
}
@media screen and (max-width: 1200px){
    .thelegt-img-title:before {
        bottom: -36px;
        left: 50px;
        width: 228px;
    }
    .thelegt-img-title:after {
        bottom: -35px;
        right: 36px;
        width: 225px;
    }
    .gt-left h2 {
        font-size: 42px;
    }
    .gt-right h2 {
        font-size: 50px;
    }
    .gt-right h3 {
        font-size: 18px;
    }
    .content-ctn p {
        font-size: 17px;
    }
}
@media screen and (max-width: 992px){
    .content-ctn h1{
        font-size: 23px;
    }
    .content-ctn p{
        font-size: 16pt;
    }
    .thele .thelegiaithuong-content:last-child h1{
        margin-top:0px;
    }
    .thele-img-title:before {
        bottom: -32px;
        left: 0%;
        width: 203px;
    }
    .thele-img-title:after {
        bottom: -23px;
        width: 235px;
        right: -1%;
    }
    .gt-left h2 {
        font-size: 34px;
    }
    .gt-right h3 {
        font-size: 12px;
    }
    .gt-right h2 {
        font-size: 35px;
    }
    .content-ctn p {
        font-size: 16px;
        margin-top: 11px;
    }
    .dahuong-img {
        position: absolute;
        right: 12%;
        top: 44%;
        width: 12%;
    }
    .dahuong-img img {
        z-index: -1;
        width: 130px;
    }

}
@media screen and (max-width: 768px){
    .content-ctn h1:after {
        top: 4px;
        left: 50px;
        z-index: -1;
        width: 233px;
        height: 100px;
    }
    .thele-img-title:after {
        bottom: -23px;
        width: 235px;
        right: -14%;
    }
    .thele-img-title:before {
        bottom: -32px;
        left: -11%;
        width: 203px;
    }
    .gt-right h2 {
        font-size: 35px;
    }
    .gt-right h3 {
        font-size: 17px;
    }
    .content-ctn h1:after {
        top: 30%;
        left: 40%;
        z-index: -1;
        width: 200px;
        height: 100px;
    }
    .gt-gt h1:after {
        top: 30%;
        left: 10%;
        z-index: -1;
        width: 200px;
        height: 100px;
    }
    .thele-img-title img {
        z-index: 2;
        max-width: 75%;
    }
    .gt-left h2 {
        font-size: 32px;
    }
    .dahuong-img img {
        z-index: -1;
        width: 85px;
    }
    .dahuong-img {
        position: absolute;
        right: -2%;
        top: 55%;
        width: 12%;
    }    
}
@media screen and (max-width: 767px){
     #section1-mb, #section2-mb, #section3-mb{
        display:block;
    }
     #section1, #section2, #section3{
        display:none;
    }
    
    .thelegt-img-title:before {
        bottom: -81px;
        left: 24px;
        width: 136px;
    }
    .thelegt-img-title:after {
        bottom: -68px;
        width: 156px;
        right:8px;
    }
    
    .thele-title .join-btn a {
        font-size: 12px;
    }
    #section1 .img-container-fluid {
        position: relative;
        width: 100%;
        top: 25%;
        z-index: -1;
    }
    .thele-title h5 {
        font-size: 14px;
    }
    .thele-img-title:before {
        bottom: -58px;
        left: -60px;
        height: 140px;
        width: 183px
    }
    .thele-img-title:after {
        bottom: -64px;
        right: -43px;
        height: 140px;
        width: 167px;
    }
    .thele-title h5 {
        font-size: 26px;
    }
    .thele-title .join-btn a {
        font-size: 20px;
    }
    #section1-mb img{
        margin-top: 10%;
        width: 50%;
        float: right;
    }
    .gt-left h2 {
        font-size: 44px;
    }
    .gt-right h3 {
        font-size: 44px;
    }
    .gt-right h2 {
        font-size: 40px;
    }
    #first-pz .gt-right h2, #second-pz .gt-right h2, #third-pz .gt-right h2 {
        font-size: 50px;
    }
    .gt-right h3 {
        font-size: 18px;
    }
    .third-info p{
        padding-left: 25px;
    }
    .row3{
        padding-top: 10px;
    }

    
    #third-pz .gt-left h2{
        font-size: 50px;
        top: 43px;
        left: 48px;
    }
    .step span a {
        font-size: 14px;
    }
    .tieuchi span a {
        font-size: 15px;
    }
    .content-ctn p {
        font-size: 15px;
    }
    .babuoc:after {
        top: 60%;
        right: 32%;
    }
    .step img, .tc-pd img{
        width:0.8rem;
    }
    
 #section1-mb h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 8%;
    z-index: -1;
    width: 160px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section1-mb h1:before{
    top: -97%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -4%;
    width: 90px;
    height: 90px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;

}
#section2-mb h1:before{
    top: -85%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -5%;
    width: 90px;
    height: 100px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 
#section2-mb h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 45%;
    z-index: -1;
    width: 160px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section3-mb h1:before{
    top: -100%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -3%;
    width: 90px;
    height: 100px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 #section3-mb h1:after{
    content: '';
    position: absolute;
    top: -60%;
    left: 8%;
    z-index: -1;
    width: 160px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section4 h1:before{
    top: -106%;
    content: '';
    position: absolute;
    /* bottom: -157%; */
    left: -3%;
    width: 90px;
    height: 100px;
    background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
    background-size: contain;
}
 #section4 h1:after{
    content: '';
    position: absolute;
    top: -65%;
    left: 23%;
    z-index: -1;
    width: 160px;
    height: 100px;
    background: url(../images/thelegiaithuong/title-right.png) no-repeat;
    background-size: contain;
}
#section5 .img-container-fluid {
    position: absolute;
    width: 100%;
    top: -12%;
    z-index: -3;
}
.dahuong-img img {
    z-index: -1;
    width:100px;
}
.dahuong-img {
    position: absolute;
    right: 5%;
    top: 55%;
    width: 12%;
}    
}
@media screen and (max-width: 480px){
    .content-ctn h1 {
        font-size: 10pt;
    /* padding-left: 25px; */
    /* padding-top: 25px; */
    }
    .content-ctn h1:before {
        top: 55%;
        left: -5%;
        width: 45px;
        height: 45px;
    }
    .content-ctn p{
        /* padding-left: 25px; */
    }
    .content-ctn p:before {
        width: 8px;
        height: 16px;
        top: 2px;
        left: 8px;
    }
    .thele-img-title img {
        z-index: 2;
        max-width: 85%;
    }
    
    .thele-title .join-btn a {
        font-size: 16px;
    }   
    .babuoc:after {
        content: '';
        position: absolute;
        top: 62%;
        right: 24%;
        height: 140px;
        width: 100px;
        z-index: -1;
    }
    #section4:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12%;
        height: 85%;
        width: 100%;
        background-color: #fff6fb;
        z-index: -1;
    }
    #section5 .img-container-fluid {
        position: absolute;
        width: 100%;
        top: -6%;
        z-index: -3;
    }
    .step span a {
        font-size: 10px;
    }
    .tieuchi span a {
        font-size: 12px;
    }
    .content-ctn p {
        font-size: 13px;
    }
    #section4:after{
        width: 50%;
        left: 50%;
        top: 87%;
    }
    .thele-title h5 {
        font-size: 12pt;
    }
    .thele-img-title:before {
        bottom: -80px;
        left: -60px;
        height: 140px;
        width: 135px;
    }
    .thele-img-title:after {
        bottom: -80px;
        right: -18%;
        height: 140px;
        width: 130px;
    }
    #section1-mb h1:after, #section3-mb h1:after{
        top: -90%;
        left: 8%;
        width: 115px;
    }
    #section1-mb h1:before{
        top: -160%;
        left: -6%;
        width: 65px;
        height: 65px;

    }
    #section2-mb h1:before{
        top: -164%;
        left: -8%;
        width: 65px;
        height: 65px;
    }
    
    #section2-mb h1:after {
        top: 15%;
        left: 46%;
        width: 100px;
        height: 80px;
    }
    #section3-mb h1:before{
        top: -170%;
        left: -3%;
        width: 65px;
        height: 65px;
    }
    /* #section3-mb h1:after{
        content: '';
        position: absolute;
        top: -60%;
        left: 8%;
        z-index: -1;
        width: 160px;
        height: 100px;
        background: url(../images/thelegiaithuong/title-right.png) no-repeat;
        background-size: contain;
    } */
    #section4 h1:before{
        top: -155%;
        left: -3%;
        width: 65px;
        height: 65px;
    }
    #section4 h1:after{
        top: -18%;
        left: 28%;
        width: 100px;
        height: 80px;
    }
    .dahuong-img img {
        z-index: -1;
        width:90px;
    }
    .dahuong-img {
        position: absolute;
        right: 24%;
        top: 60%;
        width: 12%;
    }   
}
@media screen and (max-width: 320px){
    .thele-img-title img {
        z-index: 2;
        max-width: 85%;
    }
    
    .thele-title .join-btn a {
        font-size: 12px;
    }
    #section1-mb img {
        width: 60%;
        float: right;
    }
    .thele-title h5 {
        font-size: 14px;
    }
    .thele-img-title:before {
        bottom: -94px;
        left: -60px;
        height: 140px;
        width: 127px;
    }
    .thele-img-title:after {
        bottom: -96px;
        right: -45px;
        height: 140px;
        width: 124px;
    }
    .gt-left h2 {
        font-size: 29px;
        top: 34px;
        left: 30px;
        transform: translate(-50%, -50%);
    }
    .step img{
        width: 3%;
    }
    .tc-pd img{
        width: 3%;
    }
    .content-ctn h1:before {
        top: 58%;
        left: -6%;
        width: 45px;
        height: 45px;
    }
    .content-ctn h1 {
        font-size: 8pt;
    }
    .step span a {
        
        font-size: 12px;  
    }
    .tieuchi span a {
        font-size: 14px;
    }
    .gt-icon img {
        max-width: 90%;
        margin-top: -18%;
    }
    #section4:before {
        content: '';
        position: absolute;
        left: 0;
        top: 9%;
        height: 88%;
        width: 100%;
        background-color: #fff6fb;
        z-index: -1;
    }
    .babuoc:after {
        top: 62%;
        right: 20%;
    }
    #section1-mb h1:before, #section3-mb h1:before  {
        top: -156%;
        left: -4%;
        width: 50px;
        height: 50px;
    }
    #section1-mb h1:after, #section3-mb h1:after {
        top: -90%;
        left: 8%;
        width: 90px;
    }
    #section2-mb h1:before {
        top: -164%;
        left: -14%;
        width: 50px;
        height: 50px;
    }
    #section2-mb h1:after {
        top: -50%;
        left: 35%;
        width: 100px;
    }
    #section4 h1:before {
        top: -155%;
        left: -5%;
        width: 50px;
        height: 50px;
    }
    #section4 h1:after {
        top: -65%;
        left: 18%;
        width: 100px;
        height: 100px;
    }
    #section5 .img-container-fluid {
        position: absolute;
        width: 100%;
        top: -4%;
        z-index: -3;
    }
    .dahuong-img img {
        z-index: -1;
        width:90px;
    }
    .dahuong-img {
        position: absolute;
        right: 30%;
        top: 60%;
        width: 12%;
    
    }   
}