.trienlam-title{
    text-align: center;
    margin-top: 55px;
}
.trienlam-title h5{
    text-align: center;
    font-family: 'Gilroy-Bold1';
    color:#dc5ca1;
    font-size:26px;
    margin:0px;
    font-weigth:bold;
}
.trienlam-title .join-btn a{
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url('../images/trienlamhanhphuc/bg-btn.png') no-repeat;
    background-size: 100% 100%;
    padding: 15px 7px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.trienlam-title .join-btn a:before{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url('../images/trienlamhanhphuc/link-bottom.png' ) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.trienlam-title .join-btn a span{
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.trienlam-title .join-btn{
    margin-top: 34px;
    margin-bottom: 40px;
}

.trienlam-title .join-btn:hover {
    filter: grayscale(50%);
}

.trienlam-img-title{
    display:inline-block;
    position: relative;
    width: 78%;
}
.trienlam-img-title:before{
    content:'';
    position: absolute;
    bottom: -65px;
    left: -133px;
    height: 140px;
    width: 315px;
    background: url('../images/trienlamhanhphuc/title-left.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.trienlam-img-title:after{
    content:'';
    position: absolute;
    bottom: -54px;
    right: -150px;
    height: 140px;
    width: 315px;
    background: url('../images/trienlamhanhphuc/title-right.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.trienlam-img-title img{
    z-index: 2;
    max-width: 100%;
}
.trienlam-post-box{
    background-color:#fdf2f8;
}
.bg-pink{
    background-color:#fdf2f8;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.clear{
    clear:both;
}
.no-padding{
    padding: 0px !important;
}
.post-lg{
    padding-left: 25px;
    padding-right: 20px;
    height: 100%;
}
.trienlam-img-box{
    position: relative;
    z-index: 2;
}
.trienlam-img-box:after{
    content:'';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-color: #000;
    z-index:-1;
    border-radius: 4px;
    background-image: linear-gradient( #dd61a4, #fdf2f8, #dc5da1);
    box-shadow: 5px 5px 5px #e5d1e2;
}
.post-lg .trienlam-img-box{
    margin-bottom: 20px;
}
.trienlam-cnt-box h5 a{
    font-size: 20px;
    font-weight: bold;
    color: #dc5ca1;
    font-family: 'Gilroy-Bold1';
    text-transform: uppercase;
}
.trienlam-cnt-box p{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Gilroy-Medium1';
    color:#a974bd;

}
.like-number, .share-number, .checked-number{
    margin-top: 7px;
    margin-bottom: 7px;
}
.like-number a, .share-number a, .checked-number a{
    font-size: 17px;
    color: #575757;
    font-family: 'Gilroy-Bold1';
}
.like-number a img, .share-number a img, .checked-number a img{
    margin-bottom: 7px;
}
.trienlam-cnt-box a{
    text-decoration: none;
}
.padding-15{
    padding-left: 15px !important;
}
.post-sm .like-number,.post-sm .share-number,.post-sm .checked-number{
    display: inline-block;
    margin-right: 20px;
}
.flex-box{
    display: flex;
}
.post-sm .like-share-checked{
    position: absolute;
    bottom: 0px;
}
.trienlam-post .col-md-7>.bg-pink:nth-child(2){
    margin-bottom: 0px;
}
.list-row{
    margin-bottom: 20px;
}
.trienlam-img-box img{
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}
.cnt-bdt .box-two:nth-child(3n+1){
    clear: both;
}
@media screen and (max-width: 1200px){
    .trienlam-title h5{
        font-size: 22px;
    }
    .trienlam-img-title:before {
        bottom: -71px;
        left: -122px;
        width: 264px;
    }
    .trienlam-img-title:after {
        bottom: -52px;
        right: -118px;
        height: 115px;
        width: 262px;
    }
    .trienlam-title .join-btn a span {
        padding: 9px 20px;
        border-radius: 5px;
    }
    .trienlam-title .join-btn a{
        font-size: 20px;
    }
    .trienlam-title .join-btn {
        margin-top: 20px;
    }
    .trienlam-title .join-btn a{
        padding: 14px 7px;
    }
    .trienlam-cnt-box h5 a{
        font-size: 17px;
    }
}
@media screen and (max-width: 992px){
    .trienlam-title h5 {
        font-size: 17px;
    }
    .trienlam-img-title:before {
        bottom: -93px;
        left: -84px;
        width: 197px;
    }
    .trienlam-img-title:after {
        bottom: -66px;
        right: -79px;
        height: 115px;
        width: 193px;
    }
    .trienlam-title .join-btn a {
        font-size: 15px;
    }
    .trienlam-title .join-btn a:before {
        bottom: -12px;
        width: 92px;
    }
    .trienlam-cnt-box h5 a {
        font-size: 14px;
    }
    .trienlam-cnt-box p {
        font-size: 14px;
    }
    .like-number a, .share-number a, .checked-number a {
        font-size: 13px;
    }
    .like-number a img, .share-number a img, .checked-number a img {
        width: 15px;
    }
    .padding-15{
        padding-left: 8px !important;
    }
    .post-sm .like-number, .post-sm .share-number, .post-sm .checked-number {
        margin-right: 8px;
    }
    .cnt-bdt .box-two:nth-child(3n+1){
         clear: both;
    }
}
@media screen and (max-width: 767px){
    .trienlam-title h5 {
        font-size: 15px;
        width: 60%;
        margin: auto;
    }
    .trienlam-img-title:before {
        bottom: -118px;
        left: -51px;
        width: 149px;
    }
    .trienlam-img-title:after {
        bottom: -92px;
        right: -45px;
        width: 146px;
    }
    .trienlam-title .join-btn a span {
        padding: 8px 20px;
        border-radius: 4px;
    }
    .trienlam-title .join-btn a {
        padding: 12px 7px;
    }
    .flex-box{
        display: block;
    }
    .post-lg .like-number, .post-lg .share-number, .post-lg .checked-number {
        margin-right: 8px;
        display: inline-block;
    }
    .post-sm .like-share-checked {
        position: relative;
        bottom: 0px;
    }
    .post-sm .trienlam-img-box {
        margin-bottom: 10px;
    }
    .post-sm {
        padding-left: 25px;
        padding-right: 20px;
    }
    .trienlam-post .col-md-7>.bg-pink:nth-child(2) {
        margin-bottom: 20px;
    }
    .list-row {
         margin-bottom: 0px;
    }
    .padding-15 {
        padding-left: 0px !important;
    }
    .cnt-bdt .box-two:nth-child(3n+1){
        clear: none;
    }
}
@media screen and (max-width:480px){
    .trienlam-img-title {
        width: 94%;
    }
    .trienlam-img-title:before {
        bottom: -132px;
        left: -19px;
        width: 129px;
    }
    .trienlam-img-title:after {
        bottom: -106px;
        right: -13px;
        width: 127px;
    }

    .trienlam-title .join-btn a span {
        padding: 7px 10px;
    }
    .trienlam-title .join-btn a {
        font-size: 12px;
    }
    .trienlam-title .join-btn a:before {
        width: 85px;
    }
    .trienlam-title h5{
        font-size:12px;
    }
    .trienlam-img-title:before {
        bottom: -124px;
    }
    .trienlam-img-title:after {
        bottom: -101px;
    }
}
@media screen and (max-width: 320px){
    .trienlam-title h5 {
        font-size: 11px;
        width: 64%;
    }
    .trienlam-img-title:before {
        bottom: -79px;
        left: -16px;
        width: 103px;
        height: 88px;
    }
    .trienlam-img-title:after {
        bottom: -67px;
        right: -10px;
        width: 108px;
        height: 76px;
    }
}