.img-ctn.no-padding{
    padding: 0;
}
/* firt section */
.cover-box{
    margin-top: 3%;
    position: relative;
}
.cover-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
}
.section-upload {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:auto;
   width:100%;
   display: flex; 
   align-items: center;
   text-align:center;
   font-size:20px;
}

.section-upload img {
    margin-bottom: 10px;
    width:40%;
}
.section-upload a{
    color: #dc5ca1;
}
.cover-frame img{
    z-index: 2;
    padding-top: 3%;
    bottom: auto;
    height: 100%;
    width: 100%;
}
.img-ctn{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: auto;
    min-height: 400px;
}

.img-desc-uploaded {
    padding: 0;
}

.img-desc-uploaded .img-preview {
    width: 100%;
    margin-bottom: 5px;
}
/* second section */
.top-section, .bottom-section{
    margin-top: 5%;
    margin-bottom: 10%;
    }
    .happy-view-box{
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .emotion-box img{
        position: absolute;
        width: 25%;
        bottom: -23px;
        right: -12%;
    }
    .emotion-part, .upload-part{
        /* margin-top: 12%; */
    }
    .second-section{
        margin-top: 5%;
    }
    .second-section h5{
        font-family: 'Gilroy-Regular1';
        font-weight: bold;
        font-size: 16pt;
        color: #dc5ca1;
        padding-bottom: 28px;
        padding-left: 30px;
        position: relative;
      }
      .emotion2-title{
        /* padding-bottom: 2%;
        padding-top: 10%; */
        }
    .upload-video-title h5:before{
        content: '';
        position: absolute;
        top: -55%;
        left: 8px;
        width: 100px;
        height: 100px;
        background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
        background-size: contain;
    }
    /* .upload-image-title{
        margin-top: 20%;
    } */
    .upload-image-title h5:before{
        content: '';
        position: absolute;
        top: -58%;
        left: 8px;
        width: 100px;
        height: 100px;
        background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
        background-size: contain;
    }
    .emotion2-title h5:before{
        content: '';
        position: absolute;
        top: -55%;
        left: 0px;
        width: 100px;
        height: 100px;
        background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
        background-size: 100% 100%;
    }
    .emotion2-title:after{
        content: '';
        position: absolute;
        top: 45%;
        left: 44%;
        z-index: -1;
        width: 30%;
        height: 100px;
        background: url(../images/thelegiaithuong/title-right.png) no-repeat;
        background-size: contain;
      }
      .emotion-title h5:before{
        content: '';
        position: absolute;
        top: -74%;
        left: 0px;
        width: 100px;
        height: 100px;
        background: url(../images/thelegiaithuong/bg2-btn.png) no-repeat;
        background-size: 100% 100%;
      }
      .emotion-title:after{
        content: '';
        position: absolute;
        top: 2%;
        left: 34%;
        z-index: -1;
        width: 30%;
        height: 100px;
        background: url(../images/thelegiaithuong/title-right.png) no-repeat;
        background-size: contain;
      }
      .small-text{
        font-family: 'Gilroy-Regular1';
        font-weight:normal;
        font-size: 14px;
        color: #dc5ca1;
        /* padding-bottom: 28px;
        padding-left: 30px; */
      }
      
      #lined {
        display: block;
        background-color: transparent;
        margin: 10px;
        width: 65%;
        font-size: 14pt;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(rgba(0, 0, 0, 0) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0) 31px);
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(rgba(0, 0, 0, 0) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0) 31px);
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(rgba(0, 0, 0, 0) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0) 31px);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(rgba(0, 0, 0, 0) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0) 31px);
        background-image: linear-gradient(left, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 10px, transparent 10px), -webkit-linear-gradient(rgba(0, 0, 0, 0) 30px, #ccc 30px, #ccc 31px, rgba(0, 0, 0, 0) 31px);
        background-size: 100% 100%, 100% 100%, 100% 40px;
        border: 0;
        outline: 0;
        line-height: 40px;
        font-family: 'Gilroy-Regular1';
        font-weight: normal;
        padding: 3px;
    }
    .notes:focus {
        outline: none;
    }
      .happy-text{
        position: relative;
        margin: 10px;
        background-image: url(../images/hanhphuccuatoila/border-frame.png);
        width: 87%;
        background-size: 100% 100%;
        padding: 3% 10% 3% 3%;
          
      }
      /* upload video */
      .upload-title{
          padding-bottom: 5%;
      }
      .upload-video-ctn{
          background-color: #f9e8f9;
          padding: 6%;
          margin-top: 2%;
      }
      .upload-image-ctn{
        background-color: #f9e8f9;
        padding: 6%;
        margin-top: 3%;
          margin-bottom: 5px;
    }
      .upload-ctn:before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0%;
        /* right: 41%; */
        width: 100%;
        height: 102%;
        background: url(../images/baiduthi/upload-frame-bg.png) no-repeat;
        background-size: 100% 100%;
      }
      .left-part h6{
        font-family: 'Gilroy-Regular1';
        font-weight: bold;
        font-size: 12pt;
        color: #000;
      }
      .left-part span{
        font-family: 'Gilroy-Regular1';
        font-weight: normal;
        font-size: 80%;
        color: #000;
      }
      .left-part img {
          width: 50%;
      }
      #txtbox {
        font-size: 12pt;
        height: 200px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #dfc3e6;
        padding: 0px;
        line-height: 35px;
        background-size: 100% 35px;
        outline: 0;
    }
    .right-part .upload-img-btn a{
        font-family: 'Gilroy-Regular1';
        font-weight: bold;
        font-size: 11pt;
        color: #fff;
        background: url('../images/thelegiaithuong/img14.png') no-repeat;
        background-size: 100% 100%;
        padding: 15px 7px;
        display:inline-block;
        text-decoration: none;
        position: relative;
    }
    .right-part .upload-img-btn a span{
        padding: 10px 12px;
        /* border: 1px solid #fff; */
        border-radius: 8px;
    }
    .right-part .upload-img-btn{
        margin-top: 34px;
        margin-bottom: 40px;
        text-align: center;
        cursor: pointer;
    }

    .right-part .upload-img-btn:hover {
        filter: grayscale(50%); 
    }
    /* third-section */
    .third-section{
        text-align: center;
    }
    .third-section .join-btn a{
        font-family: 'Gilroy-Regular1';
        font-weight: bold;
        font-size: 26px;
        color: #fff;
        background: url('../images/thelegiaithuong/img14.png') no-repeat;
        background-size: 100% 100%;
        padding: 15px 7px;
        display:inline-block;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    .third-section .join-btn{
        cursor: pointer;    
    }

    .third-section .join-btn:hover {
        filter: grayscale(50%); 
    }

    .third-section .join-btn a:before{
        content:'';
        position: absolute;
        bottom: -9px;
        width: 126px;
        height: 20px;
        background: url('../images/thelegiaithuong/link-bottom.png' ) no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
    }
    .third-section .join-btn a span{
        padding: 10px 12px;
        /* border: 1px solid #fff; */
        border-radius: 8px;
    }
    .third-section .join-btn{
        margin-top: 34px;
        margin-bottom: 40px;
    }

    .happy-view-box img {
        position: absolute;
        width: 25%;
        bottom: -23px;
        right: -14%;
    }
    
    /* responsive  */
    @media screen and (max-width: 991px){
        .img-ctn {
            min-height: 500px;
        }
        #lined {
            font-size: 12pt;
        }
        .happy-view-box img {
            position: absolute;
            width: 25%;
            bottom: -23px;
            right: -12%;
        }
        .emotion-box img {}
    }
    @media screen and (max-width: 768px){
        .second-section h5{
            font-size: 12pt;
          }
          .third-section .join-btn a {
            font-size: 12pt;
        }
        .emotion-title:after {
            left: 44%;
            top:2%;
        }
        .emotion2-title:after {
            top: 45%;
            left: 49%;
        }
        .img-ctn {
            min-height: 400px;
        }
        .emotion-title h5:before, .emotion2-title h5:before, .upload-video-title h5:before, .upload-image-title h5:before {
            width: 70px;
            height: 70px;
        }
        #lined {
            font-size: 12pt;
        }
    
    }
    @media screen and (max-width: 767px){
        .second-section h5{
            font-size: 18pt;
          }
        .emotion-title h5:before , .emotion2-title h5:before, .upload-video-title h5:before, .upload-image-title h5:before {
            width: 80px;
            height: 80px;
        }
        #lined {
            font-size: 14pt;
        }
        .section-upload {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 480px){
        .third-section .join-btn a {
            font-size: 12pt;
        }
        .second-section h5{
            font-size: 14pt;
        }
        #lined {
            display: block;
            background-color: transparent;
            /* margin: 30px; */
            width: 65%;
            font-size: 10pt;
        }
       
        .img-ctn {
            min-height: 195px;
        }
        .click-upload h6 {
            font-family: 'Gilroy-Regular1';
            font-weight: normal;
            font-size: 10pt;
            color: #dc5ca1;
        }
        .emotion-title h5:before, .emotion2-title h5:before, .upload-video-title h5:before, .upload-image-title h5:before {
            width: 65px;
            height: 65px;
            top: -37%;
        }
        .emotion-title:after {
            left: 58%;
            top: 2%;
        }
        .emotion2-title:after {
            top: 45%;
            left: 72%;
        }
    }
    @media screen and (max-width: 320px){
        .happy-view-box img {
           
        }
        #lined {
            width: 68%;
            font-size: 8pt;
        }
        .emotion-box img {
            
        }
        .third-section .join-btn a {
            font-size: 10pt;
        }
        .second-section h5 {
            font-size: 12pt;
        }
        .cover-frame h6 {
            font-size: 6pt;
        }
        .left-part h6 {
            font-size: 9pt;
        }
        .emotion2-title:after {
            top: 45%;
            left: 70%;
            width: 32%;
        }
        .upload-video-title{
            margin-top: 15%;
        }
        .emotion-title:after {
            top: 3%;
            left: 58%;
            z-index: -1;
            width: 45%;
        }
        .img-ctn {
            min-height: 160px;
        }
        .click-upload h6 {
            font-size: 7pt;
        }
        .emotion-title h5:before, .emotion2-title h5:before, .upload-video-title h5:before, .upload-image-title h5:before {
            width: 55px;
            height: 55px;
        }
    }
    