.workshop-title{
    text-align: right;
    margin-bottom: 47px;

}
.workshop-img-title{
    margin-top: 70px;
    position: relative;
    display: inline-block;
    width: 70%;
}

.workshop-img-title img{
    width: 100%;
}
.workshop-img-title:after{
    content: "Vì bạn xứng đáng để luôn hạnh phúc mỗi ngày";
    position: absolute;
    bottom: 3px;
    right: -20px;
    color: #dc5ca1;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Gilroy-Medium1';
}
.workshop-img-title:before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: -121px;
    height: 128px;
    width: 243px;
    background: url('../images/trienlamhanhphuc/title-left.png') no-repeat;
    background-size: contain;
    z-index: -1;
}
.ws-before{
    position: relative;
}
.ws-before:before{
    content:'';
    position: absolute;
    background: url('../images/workshop/workshop.png') no-repeat;
    background-size: contain;
    z-index: 0;
    width: 307px;
    height: 300px;
    left:0px;
    top:29px;
}
.title-img-bf-af{
    display:inline-block;
    width: 60%;
    margin: auto;
    position: relative;
}
.title-img-bf-af img{
    width: 100%;
}
.title-list-cnt{
    text-align: center;
}
.title-img-bf-af:before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: -105px;
    height: 92px;
    width: 207px;
    background: url(../images/trienlamhanhphuc/title-left.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.title-img-bf-af:after{
    content: '';
    position: absolute;
    bottom: -9px;
    right: -109px;
    height: 90px;
    width: 202px;
    background: url(../images/trienlamhanhphuc/title-right.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.title-ws{
    font-family: 'Gilroy-Bold1';
    font-weight: bold;
    font-size: 30px;
    color: #dc5ca1;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.title-ws:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 19px;
    width: 100px;
    height: 100px;
    background: url(../images/vechungtoi/bg-title-aboutus.png) no-repeat;
    background-size: contain;
}
.speaker p{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 17px;
    color: #585858;
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
}
.speaker p:before{
    content: '';
    position: absolute;
    width: 11px;
    height: 22px;
    background: url(../images/vechungtoi/arrow-list.png) no-repeat;
    background-size: contain;
    top: -3px;
    left: 26px;
}
.activities-in-ws p{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 17px;
    color: #585858;
    padding-left: 50px;
    margin-bottom: 20px;
}
.first-col-img-box, .second-col-img-box{
    text-align: center;
}
.first-col-img-box img, .second-col-img-box img{
    display:inline-block;
}
.first-col-img-box .title-img-box-ws{
    display: inline-block;
    width: 49%;
}
.second-col-img-box .title-img-box-ws{
    display: inline-block;
    width: 80%;
}
.title-img-box-ws{
    position: relative;
}
.first-col-img-box .title-img-box-ws:before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: -80px;
    height: 59px;
    width: 126px;
    background: url(../images/trienlamhanhphuc/title-left.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.first-col-img-box .title-img-box-ws:after{
    content: '';
    position: absolute;
    bottom: -3px;
    right: -85px;
    height: 63px;
    width: 144px;
    background: url(../images/trienlamhanhphuc/title-right.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.second-col-img-box .title-img-box-ws:before{
    content: '';
    position: absolute;
    bottom: -13px;
    left: -80px;
    height: 59px;
    width: 126px;
    background: url(../images/trienlamhanhphuc/title-left.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.second-col-img-box .title-img-box-ws:after{
    content: '';
    position: absolute;
    bottom: -10px;
    right: -75px;
    height: 63px;
    width: 144px;
    background: url(../images/trienlamhanhphuc/title-right.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.first-col-img-box{
    margin-bottom: 10px;
}
.second-col-img-box{
    margin-bottom: 20px;
}
.intro-ws p{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 17px;
    color: #585858;
    padding-left: 50px;
    margin-bottom: 20px;
    position: relative;
}
.intro-ws p:before{
    content: '';
    position: absolute;
    width: 11px;
    height: 22px;
    background: url(../images/vechungtoi/arrow-list.png) no-repeat;
    background-size: contain;
    top: -3px;
    left: 26px;
}
.intro-ws-img img{
    float:right;
}
.intro-ws{
    position: relative;
}
.intro-ws-img{
    position: absolute;
    width: 100%;
    top: 73px;
    left: 0px;
    z-index: -1;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.right-col-time-location p{
    color: #7f7f7f;
    font-size: 17px;
    font-family: 'Gilroy-Medium1';
    margin:0px;
}
.right-col-time-location p span{
    font-family: 'Gilroy-Bold1';
    font-size:30px;
    color:#dc5ca1;
}
.right-col-time-location p span.time{
    font-size:45px;
    color: #be7dba;
}
.time-location .flex-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.right-col-time-location{
    position: relative;
}
.right-col-time-location:before{
    content: "";
    position: absolute;
    top: -28px;
    left: -84px;
    bottom: -56px;
    right: 53px;
    background: url(../images/workshop/bg-time.png) no-repeat;
    background-size: contain;
    z-index: -1;
}
.left-col-time-location{
    margin-left: 50px;
    position: relative;
    z-index: -1;
}
.workshop .join-btn{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.workshop .join-btn:hover{
    filter: grayscale(50%); 
}

.workshop .join-btn a {
    font-family: 'Gilroy-Regular1';
    font-weight: normal;
    font-size: 26px;
    color: #fff;
    background: url(../images/trienlamhanhphuc/bg-btn.png) no-repeat;
    background-size: 100% 100%;
    padding: 11px 7px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.workshop .join-btn a:before {
    content: '';
    position: absolute;
    bottom: -9px;
    width: 126px;
    height: 20px;
    background: url(../images/trienlamhanhphuc/link-bottom.png) no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
}
.workshop .join-btn a span {
    padding: 9px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
}
.no-padding-left{
    padding-left:0px;
}
.ws-form h5{
    font-family: 'Gilroy-Bold1';
    font-weight: bold;
    font-size: 35px;
    color: #a974bd;
    padding-left: 50px;
    padding-top: 129px;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    margin-top: 0px;
}
.ws-form label{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 20px;
    color: #585858;
}
.ws-form input{
    font-family: 'Gilroy-Medium1';
    font-weight: normal;
    font-size: 20px;
    color: #585858;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius:0px;
    border-bottom: 1px solid #e4e4e4;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow:none;
    border-color: #ba90ca;
}
.form-group {
    margin-bottom: 28px;
}
.workshop-form img{
    width: 100%;
    position: relative;
    z-index: -1;
}
.ws-form{
    width: 70%;
    height: 100%;
    position: relative;
}
.ws-form:before{
    content: '';
    position: absolute;
    top: -32px;
    left: -63px;
    right: -74px;
    bottom: -22px;
    background: url(../images/workshop/border.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.ws-form:after{
    content: '';
    position: absolute;
    right: -240px;
    bottom: -174px;
    background: url(../images/workshop/form-after.png) no-repeat;
    background-size: contain;
    width: 317px;
    height: 553px;
    z-index: -1;
}
.workshop-form .flex-box{
    display: flex;
    flex-wrap: wrap;
}
.workshop-content{
    margin-top: 80px;
}
.mb{
    display:none;
}
.into-ws-mb-img{
    display:none;
}
@media screen and (max-width: 1800px){
    .ws-form h5 {
        font-size: 31px;
        padding-top: 61px;
    }
}
@media screen and (max-width: 1600px){
    .ws-form h5 {
        font-size: 28px;
        padding-top: 15px;
        margin-top: 0px;
    }
    .ws-form:after {
        right: -221px;
        bottom: -156px;
        width: 278px;
        height: 495px;
    }
    .ws-form label {
        font-size: 17px;
    }
    .ws-form input {
        font-size: 17px;
    }
}
@media screen and (max-width: 1500px){
    .ws-form h5 {
        font-size: 22px;
    }
    .form-group {
        margin-bottom: 16px;
    }
    .ws-form:after {
        right: -184px;
        bottom: -124px;
        width: 210px;
        height: 368px;
    }

}
@media screen and (max-width:1200px){
    .ws-before:before {
        width: 287px;
        height: 238px;
    }
    .ws-form h5{
        font-size: 19px;
        padding-left: 20px;
    }
    .ws-form label {
        font-size: 15px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .ws-form:before {
        right: -48px;
    }
    .ws-form:after {
        right: -141px;
        bottom: -107px;
        width: 174px;
        height: 299px;
    }
    .right-col-time-location:before {
        top: -23px;
        left: -64px;
        bottom: -56px;
        right: -8px;
    }
    .second-col-img-box .title-img-box-ws {
        width: 70%;
    }
    .first-col-img-box .title-img-box-ws{
        width: 42%;
    }
}
@media screen and (max-width:991px){
    .workshop-img-title:after {
        font-size: 12px;
    }
    .ws-before:before {
        width: 195px;
        height: 158px;
    }
    .ws-form h5 {
        font-size: 15px;
    }
    .form-horizontal .control-label{
        padding-left:0px;
        padding-right:0px;
    }
    .ws-form label {
        font-size: 14px;
    }
    .ws-form input {
        font-size: 14px;
    }
    .form-control{
        height: 26px;
        padding: 1px 10px;
    }
    .ws-form:after {
        right: -114px;
        bottom: -88px;
        width: 138px;
        height: 237px;
    }
    .title-ws{
        font-size: 20px;
        margin-top:0px;
    }
    .title-ws:before {
        top: 15px;
        width: 80px;
        height: 80px;
    }
    .intro-ws p {
        font-size: 14px;
    }
    .speaker p {
        font-size: 14px;
    }
    .activities-in-ws p {
        font-size: 14px;
    }
    .right-col-time-location p{
        font-size: 14px;
    }
    .right-col-time-location p span {
        font-size: 20px;
    }
    .right-col-time-location p span.time {
        font-size: 33px;
    }
    .workshop-content {
        margin-top: 60px;
    }
    .right-col-time-location:before {
        left: -52px;
        right: -16px;
    }
    .workshop .join-btn a{
        font-size: 19px;
    }
}
@media screen and (max-width: 767px){
    .ws-before:before {
        width: 147px;
        height: 115px;
    }
    .workshop-img-title:before {
        bottom: -10px;
        left: -79px;
        height: 72px;
        width: 151px;
    }
    .workshop-img-title:after {
        bottom: -13px;
        right: -3px;
    }
    .no-padding-left{
        padding-left: 15px;
    }
    .workshop-form .flex-box{
        display:block;
    }
    .ws-form {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .form-horizontal .form-group{
        margin-right:0px;
        margin-left:0px;
    }
    .ws-form:before {
        top: -7px;
        left: -33px;
        right: -21px;
        bottom: -37px;
    }
    .ws-form:after {
        right: -43px;
        bottom: -107px;
        width: 138px;
        height: 237px;
    }
    .workshop-content {
        margin-top: 45px;
    }
    .title-img-bf-af {
        width: 73%;
    }
    .title-img-bf-af:before {
        bottom: -6px;
        left: -63px;
        height: 53px;
        width: 120px;
    }
    .title-img-bf-af:after {
        bottom: -11px;
        right: -68px;
        height: 53px;
        width: 134px;
    }
    .intro-ws-img{
        position: relative;
        top:0px;
    }
    .no-padding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .time-location .flex-box{
        display: block;
    }
    .left-col-time-location {
        margin-left: 0px;
    }
    .right-col-time-location{
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
    .right-col-time-location:before {
        left: -27px;
        right: -60px;
        top: -14px;
    }
    .workshop .join-btn a {
        font-size: 15px;
    }
    .workshop .join-btn a:before {
        bottom: -13px;
        width: 96px;
    }
    .mb{
        display:block;
        z-index: 3;
    }
    .desktop{
        display: none;
    }
    .ws-form-img{
        margin-top: 20px;
    }
    .into-ws-mb-img{
        width: 50%;
        float: right;
        margin-top:50px;
        margin-left: 10px;
        margin-bottom: 10px;
        display:block;
    }
    .intro-ws-img{
        display:none;
    }
    .first-col-img-box {
        margin-bottom: 10px;
        width: 45%;
        float: left;
        padding-right: 20px;
    }
    .second-col-act{
        clear:both;
        padding-top: 25px;
    }
    .second-col-img-box {
        margin-bottom: 20px;
        width: 45%;
        float: left;
        padding-right: 20px;
    }
    .first-col-act-cnt{
        padding-top: 20px;
    }
    .second-col-act-cnt{
        padding-top: 20px;
    }
    .intro-ws p {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .speaker p {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .activities-in-ws p {
        font-size: 12px;
        margin-bottom: 12px;
    }

}
@media screen and (max-width: 480px){
    .ws-before:before {
        width: 104px;
        height: 77px;
    }
    .workshop-img-title {
        margin-top: 60px;
    }
    .workshop-img-title:after {
        bottom: -12px;
        right: 0px;
        font-size:8px;
    }
    .workshop-img-title:before {
        bottom: -6px;
        left: -43px;
        height: 41px;
        width: 107px;
    }
    .workshop-title {
        margin-bottom: 30px;
    }
    .ws-form h5 {
        font-size: 12px;
    }
    .ws-form label {
        font-size: 11px;
    }
    .ws-form input {
        font-size: 11px;
    }
    .form-control {
        height: 19px;
        padding: 1px 4px;
    }
    .ws-form h5 {
        padding-left: 8px;
    }
    .title-img-bf-af {
        width: 96%;
    }
    .title-img-bf-af:after {
        bottom: -28px;
        right: -20px;
        height: 53px;
        width: 90px;
    }
    .title-img-bf-af:before {
        bottom: -27px;
        left: -32px;
        height: 56px;
        width: 89px;
    }
    .intro-ws{
        margin-top: 30px;
    }
    .title-ws {
        font-size: 18px;
        padding-left: 25px;
        padding-top: 25px;
    }
    .title-ws:before {
        top: 2px;
        left: 2px;
        width: 70px;
        height: 70px;
    }
    .intro-ws p, .speaker p, .activities-in-ws p{
        padding-left: 25px;
    }
    .intro-ws p:before, .speaker p:before{
        width: 8px;
        height: 16px;
        top: 2px;
        left: 8px;
    }
    .right-col-time-location p span {
        font-size: 15px;
    }
    .right-col-time-location p span.time {
        font-size: 18px;
    }

    .workshop .join-btn {
        margin-top: 29px;
    }
    .workshop .join-btn a span {
        padding: 6px 20px;
        border-radius: 4px;
    }
    .workshop .join-btn a {
        font-size: 13px;
    }
    .second-col-img-box .title-img-box-ws:after {
        bottom: -31px;
        right: -51px;
        height: 63px;
        width: 102px;
    }
    .second-col-img-box .title-img-box-ws:before {
        bottom: -17px;
        left: -52px;
        height: 43px;
        width: 88px;
    }
    .ws-form:after {
        right: -33px;
        bottom: -124px;
        width: 119px;
        height: 237px;
    }
    .home-box-one__img__more--4 {
        font-size: 10px !important;
    }

}
@media screen and (max-width:479px){
    .right-col-time-location:before {
        top: -6px;
        right: -51px;
        background-size: 100% 100%;
        bottom: -32px;
    }

}
@media screen and (max-width:320px){
    .home-box-one__img__more--4 {
        font-size: 8px !important;
        margin-top: 10px;
    }
    .list-text-menu .text-menu {
        font-size: 8px !important;
        padding-left: 15px !important;
        padding-top: 10px;
    }
}